In [13]:
import life
type(life)

module

In [14]:
life.myAnswer

42

In [15]:
def get_milk():
    print('Open the door')
    print('Go to shop')
    print('Get a milk packet')

In [16]:
get_milk()

Open the door
Go to shop
Get a milk packet

In [17]:
def fill_the_fridge(amount):
    print('Open the door')
    print('Go to shop')
    print('Get a milk packet of ' + amount + ' bottle')

In [18]:
fill_the_fridge('5')

Open the door
Go to shop
Get a milk packet of 5 bottle

In [19]:
def milk_mission(amount, destination):
    print('Open the door')
    print('Go to shop at '+ destination )
    print('Get a milk packet of ' + amount + ' bottle')

In [20]:
milk_mission('5', 'Vijanagar')

Open the door
Go to shop at Vijanagar
Get a milk packet of 5 bottle

In [21]:
milk_mission('Vijanagar', '5')

Open the door
Go to shop at 5
Get a milk packet of Vijanagar bottle

In [22]:
milk_mission(destination='Vijanagar', amount='5')

Open the door
Go to shop at Vijanagar
Get a milk packet of 5 bottle

In [23]:
milk_mission('5', destination='Vijanagar')

Open the door
Go to shop at Vijanagar
Get a milk packet of 5 bottle

In [24]:
def times(a, b):
    #result = a*b
    return a*b

In [25]:
test = times(5.1, 3.04)
print(test)

15.504

In [26]:
times('Ni', 5)

'NiNiNiNiNi'

In [27]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [28]:
def sum(x, y):
    s=0;
    for i in range (x, y+1):
        s=s+i
    print('Sum of the integers from ',x,' to ',y,' is ',s)

In [29]:
sum(2, 5)

Sum of the integers from  2  to  5  is  14

# 2. Basics of Python Programming

In [1]:
# swap the content

p = 2
q = 55
temp = p
p = q
q = temp
print('p is',p, 'and q is',q, 'so numbers are swapped')


# Similerly 


l = 20
m = 30
l, m = m, l
print('l is',l, 'and m is',m, 'so numbers are swapped')

p is 55 and q is 2 so numbers are swapped
l is 30 and m is 20 so numbers are swapped

In [31]:
length = 40 #input('Enter the lenght:')
breadth = 62 #input('Enter the breadth:')
area = length * breadth
print('Area of the Rectangle is', area)

Area of the Rectangle is 2480

In [32]:
# input function produces a only STRING 

X = input('Enter the number:')
print('Entered number is:', X)
print('Type of X is', type(X))

Enter the number:5
Entered number is: 5
Type of X is <class 'str'>

In [33]:
X = input('Enter the number:')
num1 = int(X)
print('Entered number is:', num1)
print('Type of X is', type(num1))

Enter the number:5
Entered number is: 5
Type of X is <class 'int'>

In [35]:
# Area of the Rectangle using user inputs

length = float(input('Enter the lenght: '))
breadth = float(input('Enter the breadth: '))
area = length * breadth
print('Area of the Rectangle is', area)

Enter the lenght: 2.2
Enter the breadth: 1.2
Area of the Rectangle is 2.64

In [36]:
# Area of the Circle using user input Radius

radius = float(input('Enter the radius of the Circle: '))
print('Radius: ', radius)
pi = 3.142
area = pi*radius*radius
print('Area of the circle is',format(area, '0.2f'))

Enter the radius of the Circle: 2.2
Radius:  2.2
Area of the circle is 15.21

In [7]:
print(format(3.142, '0.3f')) # Right Justification
print(format(3, '0.2f'))
print(format(3.142154, '0.2f'))
print(format(3.142154, '<0.2f')) #Left Justification
print(format(20, '20x')) # Left Justified Hexadecimal integer
print(abs(-2))
print(abs(4))
print(max(10, 20, 54, 30))
print(pow(2, 3))
print(round(3.14))
print(round(3.5412))

3.142
3.00
3.14
3.14
                  14
2
4
54
8
3
4

In [40]:
round(1.5)-round(-1.5)

4

In [41]:
P = eval(input('Enter the Principle Amount: '))
Time = eval(input('Enter the Number of years: '))
ROI = eval(input('Enter the Rate of Interest: '))

print('----------------------')
print('Principle Amount: ',P)
print('Number of years: ',Time)
print('Rate of Interest: ',ROI)

SI = P*Time*ROI/100
print('Simple interest is: ',format(SI, '0.3f'))

Enter the Principle Amount: 25
Enter the Number of years: 24
Enter the Rate of Interest: 42
----------------------
Principle Amount:  25
Number of years:  24
Rate of Interest:  42
Simple interest is:  252.000

In [42]:
## How Modulo (%) works

### X%Y = X - Y(X//Y)
#### 8 % 5 = 8 - 5(8//5)
#### 8 - 5*1
#### 8 - 5
#### 3

#### 5 % 8 = 5 - 8(5//8)
#### 5 - 8*0
#### 5 - 0
#### 5

In [43]:
num = eval(input('Enter the four digit number: '))
print('Entered number is:',num)
r1 = num%10
q1 = num//10
print(r1, q1)

Enter the four digit number: 5
Entered number is: 5
5 0

In [2]:
# Programme to Reverse the number

num = eval(input('Enter the four digit number: '))
print('Entered number is:',num)
r1 = num%10
q1 = num//10
r2 = q1%10
q2 = q1//10
r3 = q2%10
q3 = q2//10
r4 = q3%10
print('Reversed number of',num, 'is: ', r1,r2,r3,r4)

Enter the four digit number: 5412
Entered number is: 5412
Reversed number of 5412 is:  2 1 4 5

In [3]:
# Find the condition between in a given input

p, q, r = eval(input('Enter the three numbers by comma seperated: '))
print('P =',p,'q =',q,'r=',r)
print('p>q>r', p>q>r)
print('p<q<r', p<q<r)
print('p>q and q>r', p>q and q>r)
print('p>q or q>r', p>q or q>r)

Enter the three numbers by comma seperated: 5, 4, 8
P = 5 q = 4 r= 8
p>q>r False
p<q<r False
p>q and q>r False
p>q or q>r True

In [ ]:
# Find the classes of depending on the percentages

sub1 = eval(input('Enter the Physics score: '))
sub2 = eval(input('Enter the Chemistry score: '))
sub3 = eval(input('Enter the Math\'s score: '))
sub4 = eval(input('Enter the Biology score: '))

print('------------------------------------------------------')
print('Physics:',sub1, 'Chemistry:',sub2, 'Math\'s:',sub3, 'Biology:',sub4)
result = (sub1+sub2+sub3+sub4)/400

if result>=90:
    print('Distinction')
else:
    if result>=80:
        print('First Class')
    else:
        if result>=70:
            print('Second Class')
        else:
            print('Fail!!')

In [ ]:
p=int(True)
q=int(False)
print('p=',p, 'q=',q)

In [ ]:
# WHILE loop

count=0

while count<=5:
    print('Count= ', count)
    count = count+1

In [ ]:
count = 0
add = 0

num=eval(input('Enter the number to add consicative numbers from 0: '))

while count<=num:
    add = add+count
    count=count+1
print('Sum of the numbers from o to',num,'is',add)

In [ ]:


add = 0

num1, num2=eval(input('Enter the number to add consicative numbers from 0: '))

firstNum=num1

while num1<=num2:
    add = add+num1
    num1=num1+1
print('Sum of the numbers between',firstNum,'and',num2,'is',add)

In [ ]:
count = 1
sum = 0
while count<=20:
    if count % 5 == 0:
        sum = sum + count
    count += 1
print('Sum of the numbers divisible by five within 20 is: ', sum)

In [ ]:
num = eval(input('Enter the number for factorial value: '))
fact = 1
result=1

while fact<=num:
    result = fact * result
    fact = fact + 1
print('The factorial number is: ',result)

In [11]:
l1 = list(range(5))
print(l1)
print(type(l1))
l2 = list(range(1, 5))
print(l2)
l3 = list(range(2, 20, 2))
print(l3)

[0, 1, 2, 3, 4]
<class 'list'>
[1, 2, 3, 4]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 1, 2, 3, 4]

In [12]:
# Summation OR Trianguler number

sum = 0
num = eval(input('Enter the Number for Trianguler values: '))
for i in range (num, 0, -1):
    sum = sum + i
print('Triangluer Number is: ',sum)

Enter the Number for Trianguler values: 4
Triangluer Number is:  10

In [15]:
# Fibonacci Number
sum=0
num1 = int(input('Enter the 1st Number: '))
num2 = int(input('Enter the 2nd Number: '))
limit = int(input('Enter the Fibonacci number needs to be print: '))
for i in range(limit):
    
    sum = num1+num2
    num1 = num2
    num2 = sum
    
    print(sum, end=' ')

Enter the 1st Number: 2
Enter the 2nd Number: 5
Enter the Fibonacci number needs to be print: 2
7 12

In [13]:
# Nested Loops

for i in range (1, 4, 1):
    for j in range (1, 4, 1):
        print('i=',i , 'j=',j , 'i+j=', i+j)
print('End of program!')

i= 1 j= 1 i+j= 2
i= 1 j= 2 i+j= 3
i= 1 j= 3 i+j= 4
i= 2 j= 1 i+j= 3
i= 2 j= 2 i+j= 4
i= 2 j= 3 i+j= 5
i= 3 j= 1 i+j= 4
i= 3 j= 2 i+j= 5
i= 3 j= 3 i+j= 6
End of program!

In [ ]:
for i in range (1, 6):
    for j in range (1, 11):
        print(i,'*',j , '=', i*j)
print('End of program!')

In [ ]:
# Multplication table from 1 to 5

print('Multplication table from 1 to 5')
for i in range (1, 11):
    for j in range (1, 6):
        print(format(i*j, '10d'), end='')
    print()

In [ ]:
num = 9

for i in range(1, 10, 1):
    num=num-1
    for j in range (1, num, 1):
        print('*', end=' ')
        x=num-1
    print()

In [ ]:
num = 9

while i<=num:
    print('*', end=' ')
    num =num-1
print()

In [ ]:
# List

l = [1, 3, 50, 'Try']
print(l)
l.append(40)
print(l)
l[0] = 5
print(l)
l.remove(40)
print(l)

s={}
print(type(s))

In [57]:
my_arr = np.arange(1000000)
my_list = list(range(1000000))

In [56]:
%time for _ in range(10): my_arr2 = my_arr * 2

Wall time: 30.2 ms

In [58]:
%time for _ in range(10): my_list2 = [x * 2 for x in my_list]

Wall time: 1.81 s

In [6]:
d=type(1.25)

float

In [8]:
e=str('d')

In [9]:
type(e)

str

In [14]:
print('Hello', end=' ')
print('World,', end=' ')
print('Good bye')

Hello World, Good bye

In [23]:
p=20
q=30
p, q = q, p

20

In [28]:
lenght=30
breadth=60
area=lenght*breadth
print('length =',lenght, 'and breadth =',breadth, 'then area of the rectangle is', area)

length = 30 and breadth = 60 then area of the rectangle is 1800

In [31]:
x=input('Please enter the number= ')
print(type(x))
x=int(x)
print(type(x))

Please enter the number= 30
<class 'str'>
<class 'int'>

In [32]:
lenght=int(input('Enter the lenght'))
breadth=int(input('Enter the Breadth'))
area=lenght*breadth
print('length =',lenght, 'and breadth =',breadth, 'then area of the rectangle is', area)
type(area)

Enter the lenght20
Enter the Breadth30
length = 20 and breadth = 30 then area of the rectangle is 600

int

In [33]:
radius=eval(input('Enter the radius= '))
pi=3.142
area=pi*radius**2
print('Area of the circle is', format(area, '.2f'))

Enter the radius= 2.5
Area of the circle is 19.64

In [38]:
import math

base=eval(input('Enter the length of the Base: '))
height=eval(input('Enter the length of the height: '))
hypo=math.sqrt(base**2+height**2)
print('Length of the Hypotenuse is', format(hypo,'.2f'), 'of base length', base, 'and height',height)

Enter the length of the Base: 4
Enter the length of the height: 3
Length of the Hypotenuse is 5.00 of base length 4 and height 3

In [49]:
x=int(input('Enter the number:'))
print(10+x)

Enter the number:20
30

In [68]:
print(format(10.325241,'f'))

10.325241

In [71]:
num1='10'
num2='30'
sum=num1+num2
print(sum)

1030

In [82]:
print(chr(65), end=' ')
print(chr(69), end=' ')

A E

In [83]:
n=10
print(type(n))
n=str(n)
print(type(n))

<class 'int'>
<class 'str'>

In [87]:
min('a','B','Z')

'B'

# 3. Operators and Expressions

In [88]:
-+5

-5

In [89]:
+-5

-5

In [90]:
3--5

8

In [93]:
w=eval(input('Enter the weight in grams: '))
k=w//1000
g=w%1000
print('Weight is of',k,'KG',g, 'Grams')

Enter the weight in grams: 968745
Weight is of 968 KG 745 Grams

In [98]:
x1=eval(input('Enter the X1 coordinate: '))
x2=eval(input('Enter the X2 coordinate: '))
y1=eval(input('Enter the y1 coordinate: '))
y2=eval(input('Enter the y2 coordinate: '))
d=((x1-x2)**2+(y1-y2)**2)**0.5
print('Distance between the points is: ',format(d,'0.3f'))

Enter the X1 coordinate: 1
Enter the X2 coordinate: 2
Enter the y1 coordinate: 3
Enter the y2 coordinate: 4
Distance between the points is:  1.414

In [102]:
p=eval(input('Enter P value: '))
q=eval(input('Enter Q value: '))
z=((2+8*p)/2)-((p-q)*(p+q)/2)+(((p+q)/2)*4)
print(z)

Enter P value: 4
Enter Q value: 2
23.0

In [106]:
r=eval(input('Enter the radius of the circle: '))
area = 3.142*r**2
print(format(area,'0.2f'))

Enter the radius of the circle: 2
12.57

In [107]:
print(15+20/5+3*2-1)

24.0

In [17]:
print(format(20/6, '0.2f'))

3.33

In [18]:
print(format(20//6, '0.2f'))

3.00

In [19]:
print(format(20%6, '0.2f'))

2.00

In [108]:
print(7//4/2)

0.5

In [109]:
4*1**2

4

In [20]:
4.6//1

4.0

In [26]:
5<<5

160

In [113]:
p=eval(input('Enter P value: '))
q=eval(input('Enter q value: '))
a=(p+q-abs(p-q))//2
print(a)

Enter P value: 5
Enter q value: 4
4

In [14]:
area=0
lenght=0
breadth=0

l=eval(input('Enter P value: '))
b=eval(input('Enter P value: '))
area=l*b
print("Area of the Rectangle: ", area)

Enter P value: 2
Enter P value: 8
Area of the Rectangle:  16

In [19]:
num3=int(input('Enter the 5 digit number: '))
r1=num3%100
q1=num3//10
r2=q1%10
q2=q1//10
r3=q2%10
q3=q2//10
r4=q3%10
q4=q3//10
r5=q4%10
print('Sum of the digits is', r1+r2+r3+r4+r5)

Enter the 5 digit number: 12451
Sum of the digits is 63

# 4. Decision Statements

In [22]:
p, q, r = eval(input('Enter the three numbers seperated by commas: '))
print('p>q>r is', p>q>r)
print('p<q<r is', p<q<r)
print('(p<q) and (p<r) is',(p<q) and (p<r))
print('(p<q) or (p<r) is',(p<q) or (p<r))

Enter the number: 1,2,3
p>q>r is False
p<q<r is True
(p<q) and (p<r) is True
(p<q) or (p<r) is True

In [24]:
num = eval(input('Enter the numbers: '))
if num>0: num=num*num
print(num)

Enter the numbers: 2
4

In [25]:
n1 = eval(input('Enter the numbers: '))
n2 = eval(input('Enter the numbers: '))
if n1>n2:
    print(n1,'is Greater than',n2)
else:
    print(n2,'is Greater than',n1)

Enter the numbers: 1
Enter the numbers: 2
2 is Greater than 1

In [33]:
num1, num2, num3 = eval(input('Enter the three numbers seperated by commas: '))
if num1>num2:
    if num2>num3:
        print(num1, 'is greater than', num2, num3)
else:
    if num2>num1:
        if num2>num3:
            print(num2, 'is greater than', num1, num3)
        else:
            print(num3, 'is greater than', num2, num1)

Enter the three numbers seperated by commas: 4,6,1
6 is greater than 4 1

In [36]:
sub1, sub2, sub3, sub4=eval(input('Enter the 4 subjects marks seperated by commas: '))
per=((sub1+ sub2+ sub3+ sub4)/400)*100
if per>=90:
    print('Passed in Distiction with', format(per,'0.1f'),'%')
elif per>=80:
    print('Passed in First Class with', format(per,'0.1f'),'%')
elif per>=70:
    print('Passed in Second Class with', format(per,'0.1f'),'%')
elif per>=60:
    print('Passed in Third Class with', format(per,'0.1f'),'%')
else:
    print('Result Failed')

Enter the 4 subjects marks seperated by commas: 60,61,59,59
Result Failed

### Conditional Expression

In [37]:
x = eval(input('Enter the number: '))
x = (x**2) if x%2==0 else (x**3)
print(x)

Enter the number: 4
16

In [42]:
x=0
y=0
if x>0:
    y=y+1
else:
    if x<0:
        y=y+2
    else:
        y=y+5
print(y)

5

In [43]:
p=int(True)
q=int(False)
print(p,q)

1 0

In [48]:
timing = int(input('Enter how many minutes you browsed in minutes: '))
if timing<=30:
    print('your browsing bill is 10 rupees')
elif timing<=60:
    print('your browsing bill is 20 rupees')
else:
    print('your browsing bill is 100 rupees')

Enter how many minutes you browsed in minutes: 61
your browsing bill is 100 rupees

In [58]:
    Warm=0
    Dry=0
    Temp = input('Enter the Temp and Humidity seperated by commas: ')
    Humidity = input('Enter the Temp and Humidity seperated by commas: ')
    if Temp==Warm:
        if Humidity==Dry:
            print('You can play Basketball')
        else:
            print('You can play Tennis')
    else:
        if Humidity==Dry:
            print('You can play Cricket')
        else:
            print('You can Swim')

Enter the Temp and Humidity seperated by commas: Wrm
Enter the Temp and Humidity seperated by commas: Dry
You can Swim

In [69]:
num = int(input('Enter the number: '))
if num%10==5:
    print('Square of the number is: ',num**2)

Enter the number: 5
Square of the number is:  25

In [76]:
age = int(input('Enter your Age: '))
if age>=15 and age<=18:
    print('You are eligible')
else:
    print('You are not eligible')

Enter your Age: 21
You are not eligigible

# 5. Loop Control Statements

In [78]:
count=0
sum=0
while count<=10:
    sum=sum+count
    count+=1
print(sum)

55

In [80]:
num = int(input('Enter the number: '))
rem=0
sum=0
while num>0:
    rem=num%10
    num=num//10
    sum=sum+rem
print(sum)

Enter the number: 2547
18

In [5]:
num = (input('Enter the number'))

sum = 0
for i in num:
    sum = int(sum)+i
print(sum)

Enter the number12

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
num=eval(input('Enter the number: '))
sum=0
count=0

while count<=num:
    if count%5==0:
        sum=sum+count
    count+=1
print(sum)

Enter the number: 20
50

In [4]:
num=eval(input('Enter the number: '))
fact=1
count=1

while count<=num:
    fact=fact*count
    count+=1
print(fact)

Enter the number: 6
720

In [13]:
for i in range(65, 91):
    print(chr(i), end=' ')
print('\n End')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
 End

In [14]:
for i in range(10, 0, -1):
    print(i, end=' ')
print('\n End')

10 9 8 7 6 5 4 3 2 1
 End

In [15]:
for i in range(1, 6):
    print('Square of',i, 'is',i*i)
print('\n End')

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

 End

In [20]:
sum=0
for i in range(1,11):
    if i%2==0:
        print(i, end=' ')
        sum=sum+i
print('\n Sum of the Even number is: ',sum)

2 4 6 8 10
 Sum of the Even number is:  30

In [30]:
sum=0
n = int(input('Enter the input number: '))
for i in range(0,n):
    if i%2==0 or i%3==0 or i%5==0:
        print(end='')
    else:
        print(i)
        sum=sum+i
print('Sum of the numbers: ',sum)

Enter the input number: 20
1
7
11
13
17
19
Sum of the numbers:  68

In [31]:
sum=0
num = int(input('Enter the number: '))
for i in range (0, num+1):
    sum=sum+i
print('Total Sum: ', sum)

Enter the number: 10
Total Sum:  55

In [34]:
sum=0
num=int(input('Enter the number: '))
print('Fibbonacci series is:')
first_num=0
second_num=1
for i in range(num+1):
    sum=first_num+second_num
    first_num=second_num
    second_num=sum
    print(sum, end=' ')

Enter the number: 5
Fibbonacci series is:
1 2 3 5 8 13

In [39]:
for i in range (1, 11):
    for j in range(1, 6):
        print(format(i*j, '4d'), end=' ')
    print()

   1    2    3    4    5
   2    4    6    8   10
   3    6    9   12   15
   4    8   12   16   20
   5   10   15   20   25
   6   12   18   24   30
   7   14   21   28   35
   8   16   24   32   40
   9   18   27   36   45
  10   20   30   40   50

In [18]:
num = int(input('enter the square shape'))
for i in range(num):
    print('* '*num)

enter the square shape5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [33]:
num = int(input('enter the square shape'))
for i in range(0, num+1):
    print('  '*(num-i)+'* '*i) #Make sure the space under the quotes

enter the square shape5

        *
      * *
    * * *
  * * * *
* * * * *

In [34]:
num = int(input('enter the square shape'))
for i in range(0, num+1):
    print(' '*(num-i)+'* '*i) #Make sure the space under the quotes

enter the square shape5

    *
   * *
  * * *
 * * * *
* * * * *

In [38]:
num = int(input('enter the square shape'))
for i in range(0, num):
    print(' '*(num-i)+'* '*i) 
for i in range(num, 0, -1):
    print(' '*(num-i)+'* '*i)

enter the square shape5

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
count=35
for x in range(10):
    count =count-1
    if x==2:
        break
print(count)

32

In [10]:
z=1
while z<5:
    if z%7==0:
        break
    z+=2
print(z)

5

In [5]:
My_str ='I LOVE PYTHON'
count=0
for char in My_str:
    if char=='O':
        continue
    else:
        count+=1
print(count)

11

In [6]:
My_str ='I LOVE PYTHON'
count=0
for char in My_str:
    if char=='E':
        break
    else:
        count+=1
print(count)

5

In [8]:
i=1
for x in range (1,4):
    for y in range(1,3):
        i=i+(i*1)
        print(i)
print(i)

2
4
8
16
32
64
64

In [15]:
count=0
for x in range (1,3):
    for y in range(4,6):
        count=count+(x*y)
print(count)

27

In [11]:
count=50
while count>0:
    print(count, end=' ')
    count-=2

50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [2]:
for i in range(50, 0, -2):
    print(i, end=' ')

50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [16]:
sum=0
for i in range(20,0,-2):
    sum=sum+i
    print(i, end=' ')
    print(sum, end=' ')
    if i==14:
        break
print(sum)

20 20 18 38 16 54 14 68 68

In [17]:
i=0
s=0
while i<=50:
    if i%7==0:
        s=s+i
        i=i+7
print(s)

196

In [2]:
s=0

for i in range(0,50):
    if i%7==0:
        s=s+i
        i=i+7
print(s)

196

In [5]:
num=int(input('Enter the number: '))
sum=0
for i in range(0, num+1):
    sum=5**i
    print(sum)
print('End of program')

Enter the number: 5
1
5
25
125
625
3125
End of program

In [4]:
sum=0
i=0
while i<501:
    if i%5==0:
        sum=sum+i
    i+=1
print(sum)

25250

In [32]:
password=input('Enter the Password: ')
if password=='Python':
    print('Welcome to Python World')
else:
    print('Please try again')

Enter the Password: Python
Welcome to Python World

# 6. Functions

In [5]:
def print_msg():
    str1=input('Enter your Name: ')
    print('Dear',str1,', Please welcome to Python Programming')
print_msg()

Enter your Name: Prakash
Dear Prakash , Please welcome to Python Programming

In [13]:

def addition(x, y):
    s=0
    for i in range(x,y+1):
        s=s+i
    print('Sum of the',x,'to',y,'is',s)
addition(1,25)
addition(50,75)

Sum of the 1 to 25 is 325
Sum of the 50 to 75 is 1625

In [35]:
def ops(x, y):
    print('Addition', x+y)
    print('Substraction', x-y)
    print('Multiplication', x*y)


ops(1, 4)

Addition 5
Substraction -3
Multiplication 4

In [16]:
def printMax(num1,num2):
    print('Num1: ',num1)
    print('Num2: ',num2)
    
    if num1>num2:
        print(num1,'is greater than',num2)
    elif num2>num1:
        print(num2,'is greater than',num1)
    else:
        print('Both numbers are Equal')
printMax(5,8)
printMax(11,5)
printMax(5,5)

Num1:  5
Num2:  8
8 is greater than 5
Num1:  11
Num2:  5
11 is greater than 5
Num1:  5
Num2:  5
Both numbers are Equal

In [4]:
def maxi(x, y, z):
#     maxim = x if x>y and x>z else y if y>z else z
#     return maxim
    return x if x>y and x>z else y if y>z else z


print(maxi(1, 24, 3))
print(maxi(31, 2, 1))
print(maxi(1, 34, 2))

24
31
34

In [17]:
num=int(input('Enter the number: '))
def factorial(num):
    fact=1
    for i in range(1, num+1):
        fact=fact*i
    print('Facrorial of',num,'is',fact)
factorial(num)

Enter the number: 5
Facrorial of 5 is 120

In [23]:
def area_of_circle(pi=3.142, r=1):
    area=pi*r**2
    print("Area of the circle is",format(area,'0.2f'),'with a Radius of',r)
area_of_circle()
area_of_circle(r=2)
area_of_circle(pi=4)

Area of the circle is 3.14 with a Radius of 1
Area of the circle is 12.57 with a Radius of 2
Area of the circle is 4.00 with a Radius of 1

In [26]:
def disp(a, b=9, c=20):
    print('a =',a, 'b =',b, 'c =',c)
disp(15)
disp(b=10, a=15)

a = 15 b = 9 c = 20
a = 15 b = 10 c = 20

In [29]:
S='I Love Programming'     #Global Variable

def display():
    S='I Love Python'     #Local Variable
    print(S)

T='I Love PythonProgramming'     #Global Variable

display()
print(S)
print(T)

I Love Python
I Love Programming
I Love PythonProgramming

In [1]:
a=20
def display():
    global a
    a=30
    print('Value inside the function: ',a)
display()
print('Value outside the function: ',a)

Value inside the function:  30
Value outside the function:  30

In [26]:
def minimum(x,y):
    if x<y:
        return x
    elif y<x:
        return y
    else:
        print('Both numbers are Equal')
print(minimum(2,5),'is minimum number')
#print('Smallest number is: ',minimum(2,5))

2 is minimum number

In [23]:
import math
def distance_calc(x1,x2,y1,y2):
    print('X1 =',x1)
    print('X2 =',x2)
    print('Y1 =',y1)
    print('Y2 =',y2)
    dx=(x1-x2)**2
    dy=(y1-y2)**2
    z=math.pow(dx+dy, 0.5)
    return z
print('Distance: ',distance_calc(4,2,4,2))
print('Distance: ',format(distance_calc(4,2,4,2),"0.2f"))
format(distance_calc(4,2,4,2),"0.2f")

X1 = 4
X2 = 2
Y1 = 4
Y2 = 2
Distance:  2.8284271247461903
X1 = 4
X2 = 2
Y1 = 4
Y2 = 2
Distance:  2.83
X1 = 4
X2 = 2
Y1 = 4
Y2 = 2

'2.83'

In [31]:
def area_of_circle(radius):
    if radius<0:
        return 'Enter non-zero radius'
    else:
        return 3.142*radius**2
print('Area is',format(area_of_circle(2),'0.2f'))

Area is 12.57

In [36]:
def arith(x,y):
    return x+y, x-y

add, sub=arith(2,3)
print('Addition', add, 'Subtraction',sub)

Addition 5 Subtraction -1

In [14]:
def Demo(p=20, q=40):
    return p+q
Demo(q=10, p=6)

16

In [3]:
x=20
def f():
    global x
    x=x+10
    print(x)
f()

30

In [5]:
def test():
    return 10
x=11
print(test())
print(x)

10
11

In [11]:
def test():
    global x
    x='A'
#x='Z'
#test()
print(x)

A

In [13]:
def test(x):
    x=200
x=100
test(x)
print(x)

100

In [14]:
def test(x):
    p=90
p=50
print(test(p))

None

In [17]:
def exp_1(z):
    z=z+5
    def exp_2(z):
        print('Hello')
        return z
    return z
value=10
print(exp_1(value))

15

In [21]:
def exp_1():
    global x
    x=x-5
    def exp_2():
        global x
        return x+3
    return exp_2()
    
x=10
print(exp_1())

8

In [28]:
def mul(num1, num2):
    num2 =num1*num2
    return num1,num2
print(mul(5,4))
num2, num1= mul(5,4)
print(num1, num2)

(5, 20)
20 5

In [43]:
def dis(Desig, Salary):
    print('Designation: ',Desig,'Salary: ',Salary)
dis('manager',50000)
dis(30000,'Prg')

Designation:  manager Salary:  50000
Designation:  30000 Salary:  Prg

In [55]:
import math
def cal_exp(base, exp):
    if exp<=0:
        return 'Please Enter non zero Exponential number'
    else:
        return math.pow(base,exp)
print(cal_exp(2,2.2))
#print('Result is:',format(cal_exp(2,2),'0.2f'))

4.59479341998814

In [65]:
def gcd_num(a,b):
    for i in range (a+b,2,-1):
        if i%a==0 and i%b==0:
            return i
print(gcd_num(2,12))

12

In [68]:
def reverse(num):
    q1=num%10
    r1=num//10
    q2=r1%10
    r2=r1//10
    q3=r2%10
    r3=r2//10
    q4=r3%10
    return q1,q2,q3,q4
print(reverse(1004))

(4, 0, 0, 1)

# 7. Strings

In [70]:
s1=''
s2='Hello'
print(type(s1))

type(s2)

<class 'str'>

str

In [75]:
a='PYTHON'
print(len(a))
print(min(a))
print(a[2])
print(a[-2])
max(a)

6
H
T
O

'Y'

In [82]:
s='ILOVEPROGRAMMING'
for chare in range(0,len(s),2):
    print(s[chare], end=' ')

I O E R G A M N

In [1]:
str1='I Love Python'
str2='U'+str1[1:]
print(str2)

U Love Python

In [2]:
str1='Hello'
str2='Hello'
print(id(str1))
id(str2)

1935511771824

1935511771824

In [17]:
s='IISc Bengaluru'
print(s[3:9])
print(s[:])
print(s[::-1])
print(s[-1:0:-1])
print(s[:-1])

s2=' Malleshwar'
s + s2

s3 = s*3
s3

c Beng
IISc Bengaluru
urulagneB cSII
urulagneB cSI
IISc Bengalur

'IISc BengaluruIISc BengaluruIISc Bengaluru'

In [24]:
s4='Information technology Engineering'
print('Information ' in s4)

'Hello' not in s4

True

True

In [31]:
word1='Greatest'
word2='Great'
for letter in word1:
    if letter in word2:
        print(letter, end="")

Greatet

In [44]:
s1='ABC'
s2='abc'
print(s2>s1)

s3=s2.upper()
print(s1>s3)

s4='AAB'
s5='AAA'
print(s4<s5)

print(s4>=s5)

True
False
False
True

In [48]:
print('{} plus {} equals {}'.format(2,5,'Seven'))
'My Name is {} and surname is {}'.format('Prakash','Bantanur')

2 plus 5 equals Seven

'My Name is Prakash and surname is Bantanur'

In [55]:
prglngs='C C# Java Python'
prglngs.split()

['C', 'C#', 'Java', 'Python']

In [6]:
s='1Python'
print(s.isalnum())

s2='Python Programming'
print(s2.isalnum())

s3='1Python'
print(s3.isalpha())

s4='1458'
print(s4.isdigit())

s5='hello'
print(s5.islower())

True
False
False
True
True

In [52]:
s4='Information technology Engineering'
print(s4.find('tech'))
print(s4.find('Java'))
print(s4.rfind('i'))
print(len(s4))
print(s4.count('o'))

test_str = "GeeksforGeeks"
count = 0
for i in test_str:
    if i == 's':
        count = count +1
print(count)

print(test_str.count('s'))

12
-1
31
34
4
2
2

In [65]:
s5='India is Great'
print(s5.capitalize())
print(s5.lower())
print(s5.upper())
print(s5.title())
print(s5.swapcase())
print(s5.replace('India','Karnataka'))
print(s5.capitalize())

India is great
india is great
INDIA IS GREAT
India Is Great
iNDIA IS gREAT
Karnataka is Great
India is great

In [76]:
str1=' \t\tIt\'s Cool!' #It removes white and Tab spaces
print(str1)
print(str1.lstrip())
print('---------------------')

str2='Welcome\n\n'
print(str2)
print(str2.rstrip())

 		It's Cool!
It's Cool!
---------------------
Welcome


Welcome

In [81]:
str6='Microsoft WindowsOS'
print(str6.center(30))
print(str6.rjust(30))
print(str6.ljust(30))

     Microsoft WindowsOS
           Microsoft WindowsOS
Microsoft WindowsOS

In [1]:
def countB(word):
    print(word)
    return word.count('b')
print("Number of 'b's are",countB('abbbabb'))

abbbabb
Number of 'b's are 5

In [17]:
def wordletter(word, letter):
    print(word)
    return word.count(letter)
    
print('Letter occures in a word',wordletter('ababba', 'b'))

ababba
Letter occures in a word 3

In [53]:
def wordlet(word, letter):
    print(word)
    return word.count(letter)

wordlet('adbjsdbskjd', 'k')

adbjsdbskjd

1

In [24]:
def modify(word):
    print(word)
    return word.swapcase()
print('Modified word is: ',modify('India'))

India
Modified word is:  iNDIA

In [29]:
def getChar(word, char):
    print(word)
    print('Character at position',char,'is ',end='')
    return word[char]
print(getChar('India',2))

India
Character at position 2 is d

In [61]:
def getChar(word, char):
    print('Character', char, 'in',word, 'is ', end='')
    return word[char]
print(getChar('India',2))

Character 2 in India is d

In [28]:
def getChar(word, pos):
    print(word)
    print('Character at position',pos,'is ',end='')
    counter=0
    for i in word:
        counter=counter+1
        if counter==pos:
            return i
print(getChar('Addicted to Python',10))

Addicted to Python
Character at position 10 is t

In [30]:
def eliminate(word, letter):
    print(word)
    print('After removing the letter',letter)
    return word.replace(letter,'')
print(eliminate('PYTHON PROGRAMMING', 'P'))

PYTHON PROGRAMMING
After removing the letter P
YTHON ROGRAMMING

In [11]:
def capVowel(word):
    print(word)
    word=word.lower()
    for i in word:
        return i.count(word) 
capVowel('Python')

Python

0

In [19]:
def capVowels(word):
    new=''
    print('String',word)
    print('After captitalize')
    print('output string: ',end='')
    for i in word:
        if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
            new=new+i.upper()
        else:
            new=new+i
    return new
print(capVowels('i love python'))

String i love python
After captitalize
output string: I lOvE pythOn

In [20]:
def replacevowel(word):
    new=''
    print(word)
    print('output string: ',end='')
    for i in word:
        if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
            new=new+i.replace(i,'')
        else:
            new=new+i
    return new
print(replacevowel('i love python'))

i love python
output string:  lv pythn

In [23]:
def isReverse(word1, word2):
    print(word1)
    print(word2)
    if (word1==word2[::-1]):
        return True
    else:
        return False
print(isReverse('Hello', 'Hello'))
print(isReverse('Hello', 'olleH'))

Hello
Hello
False
Hello
olleH
True

In [27]:
def isMirror(word1, word2):
    print(word1)
    print(word2)
    print('String: ',end='')
    return word1+' ' +word2+' '+word2[::-1]+' '+word1[::-1]
print(isMirror('Python', 'Strong'))

Python
Strong
String: Python Strong gnortS nohtyP

In [31]:
str1='Sum of {0:b} and {1:b} is {2:b}'.format(2,2,4)
print(str1)

Sum of 10 and 10 is 100

In [34]:
str1='ABBBCBB'
print(str1.count('BB',1),end='')
print(str1.count('BB',2),end='')

22

In [36]:
s='Programming'
for char in s:
    print(char, end=' ')

P r o g r a m m i n g

In [37]:
def countBC(word):
    print(word)
    count=0
    for bc in word:
        if (bc=='bc'):
            count+=1
    return count
print(countBC('abcaaabc'))

abcaaabc
0

In [45]:
def upperLower(word):
    count=0
    print(len(word))
    
    while count<len(word):
        print(word)
        count+=1
upperLower('well done')

9
well done
well done
well done
well done
well done
well done
well done
well done
well done

In [46]:
def reverse(word):
    print(word)
    s1=word
    s2=s1[::-1]
    print(s2)
reverse('Hello')

Hello
olleH

# 8. Lists

In [15]:
# When you want a group of elements as a SINGLE ENTITY then will go for LISTs

# Duplicates are allowed and Insertion order is preserved
# List is Mutable and represent using [ ]
# Heterogeneous objects are allowed (Int and Strings)
# list is Dynamic (Add or Remove the elements)
# Slicing is possible

l1=list([])  # Empty list or with constructer

l2=list([1, 2, 3])

l3=list(['Ravi', 'Raju', 'Lingu'])

l4=list(range(0,6))

l5=list('xyz')

l6=list([2, 2.5, 'Apple'])  # All types

lg=[1,6,7]    # without constructer

l8=['Apple', 'Banana']

In [46]:
import random

L1=[10, 20, 'Hello', 30, 'hey', 40, 50,60]
print(L1)
print(L1[3])
print(L1[-2]) # Negative Index
print(L1[3:5])   # Slicing
print(L1[0:8:2])   #Slicing with stepsize
print(L1[:2])
print(L1[::-1])
print(L1[-1:0:-1])
print(len(L1))
print('------------------------------')
L2=[60, 44, 75]
print(max(L2))
print(min(L2))
print(sum(L2))
random.shuffle(L2)

L3=['Ravi', 'Raju', 'Lingu']
print(max(L3))
print(min(L3))

[10, 20, 'Hello', 30, 'hey', 40, 50, 60]
30
50
[30, 'hey']
[10, 'Hello', 'hey', 50]
[10, 20]
[60, 50, 40, 'hey', 30, 'Hello', 20, 10]
[60, 50, 40, 'hey', 30, 'Hello', 20]
8
------------------------------
75
44
179
Ravi
Lingu

In [51]:
L1 = [10, 20]
L2 = [30, 40]

L3 = L1+L2
print(L3)

L4 = L1*2
print('L4 is', L4)

# L5 = L1*L2 (can't multiply sequence by non-int of type 'list')


40 in L2

[10, 20, 30, 40]
L4 is [10, 20, 10, 20]

True

In [54]:
A = 'Microsoft'
B = 'Microsoft'
print(A is B)

C = [1,2,3]
D = [1,2,3]
C is D

True

False

In [62]:
lst = [10,20,30,50,80,44]

del lst[2]


del lst[-2]

del lst[2:6]

del lst[:]
print(lst)

[]

## List Comprehesions
#### (Compute the expression for the element in a sequence if the condition is True)

In [2]:
lst1=[10, 20, 30, 40, 55]
lst1 = [x+10 for x in lst1]
lst1

[20, 30, 40, 50, 65]

In [4]:
lst1=[10, 20, 30, 40, 55]
lst2=[x for x in lst1 if x%2==0]
lst2

[10, 20, 30, 40]

In [13]:
print('List A ', end='')
lst1=[x**2 for x in range(11)]
print(lst1)

print('List B ', end='')
lst2=[x**3 for x in range(11)]
print(lst2)

print('Only Even numbers from ListA ', end='')
lst3=[x for x in lst1 if x%2==0]
print(lst3)

List A [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
List B [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
Only Even numbers from ListA [0, 4, 16, 36, 64, 100]

In [15]:
celcius=[10, 20, 31.3, 40, 39.2]
fahren=[((9/5)*x+32) for x in celcius]
fahren

[50.0, 68.0, 88.34, 104.0, 102.56]

In [18]:
print('List without sort ',end='')
lst1=[4, 5.1, 'hi', 2.1, 5, 'Hey']
print(lst1)

print('List with sort by integer ',end='')
lst2=[x for x in lst1 if type(x)==int]
print(lst2)

List without sort [4, 5.1, 'hi', 2.1, 5, 'Hey']
List with sort by integer [4, 5]

In [55]:
lst1 = ['A', 'B', 'C']
print(lst1)

lst1.append('A')
print(lst1)

lst1.count('A')

print('list 2 is ',end='')
lst2=lst1.copy()
print(lst2)

print('Extende List1 is ', end='')
lst3=[51, 21, 2]
lst1.extend(lst3)
print(lst1)

lst1.index('B')

print('Popped List ', end='')
lst1.pop(4)
print(lst1)

print('Last element popped from List ', end='')
lst1.pop()
print(lst1)

print('Removed the first occurrence of element from List ', end='')
lst1.remove('A')
print(lst1)

print('Removed the first occurrence of element from List ', end='')
lst1.remove(21)
print(lst1)

print('Reversed List ', end='')
lst1.reverse()
print(lst1)

print('Sorted List ', end='')
lst1.sort()
print(lst1)

['A', 'B', 'C']
['A', 'B', 'C', 'A']
list 2 is ['A', 'B', 'C', 'A']
Extende List1 is ['A', 'B', 'C', 'A', 51, 21, 2]
Popped List ['A', 'B', 'C', 'A', 21, 2]
Last element popped from List ['A', 'B', 'C', 'A', 21]
Removed the first occurrence of element from List ['B', 'C', 'A', 21]
Removed the first occurrence of element from List ['B', 'C', 'A']
Reversed List ['A', 'C', 'B']
Sorted List ['A', 'B', 'C']

In [15]:
l='Python'
l2=list(l)
l2

str1='Wow!!!! Incredible India'
str2=str1.split()
str2

#OR

print('Split list: ',end='')
str3='Wow Incredible India'.split()
print(str3)

print('Eliminated Delimiter: ',end='')
str4='My-date-of-birth-year-is-1991'.split('-')
print(str4)

Split list: ['Wow', 'Incredible', 'India']
Eliminated Delimiter: ['My', 'date', 'of', 'birth', 'year', 'is', '1991']

In [19]:
def print_lst(lst):
    for num in lst:
        print(num, end=' ')
        #return num
lst =[10, 20, 30, 54]
print_lst(lst)

10 20 30 54

In [23]:
def avg_calc(num):
    sumlst=sum(num)
    avg=sumlst/len(num)
    return avg
num=[20, 51, 84]
print('Average value is: ',format(avg_calc(num),'.2f'))

Average value is:  51.67

In [31]:
def split_lst(lst, n):
    print('Projected List: ',end='')
    lst1=lst[:n]
    print(lst1)
    print('Remaining List: ',end='')
    lst2=lst[n:]
    print(lst2)
lst=[10, 45, 8, 65, 8, 4, 70]
split_lst(lst,3)

Projected List: [10, 45, 8]
Remaining List: [65, 8, 4, 70]

In [39]:
def reverse_lst(lst):
    
    lst.reverse()
    return lst
lst=[10, 45, 8, 65, 8, 4, 70]
print('Reverse List :',reverse_lst(lst))

Reverse List : [70, 4, 8, 65, 8, 45, 10]

In [51]:
def mul_4(k):
    lst=[]
    
    for i in range (1,6):
        res = i*k
        lst.append(res)
    return lst
        
        
print(mul_4(4))

[4, 8, 12, 16, 20]

In [56]:
def even_num(a,b):
    print('Even number list: ',end='')
    lst1=[x for x in range(a,b) if x%2==0]
    print(lst1)
even_num(10,20)

Even number list: [10, 12, 14, 16, 18]

In [71]:
def pelindrom_list(lst):
    r=lst[::-1]
    for i in range (0, (len(lst)+1)//2):
        if r[i]!=lst[i]:
            return False
    return True
lst=[1, 2, 3, 3, 1]
pelindrom_list(lst)

False

In [9]:
def check_dup(lst):
    dup_lst=[]
    for i in lst:
        if i not in dup_lst:
            dup_lst.append(i)
        else:
            return True
    return False
lst = [1, 4,6, 7, 1]
print(lst)
x=check_dup(lst)
print(x)

lst1 = [1, 4,6, 7]
print(lst1)
y = check_dup(lst1)
print(y)

[1, 4, 6, 7, 1]
True
[1, 4, 6, 7]
False

In [12]:
lst1=['a','b','c','d']
lst1=[x for x in lst1 if ord(x)>97]
print(lst1)

['b', 'c', 'd']

In [20]:
str = 'DONALD TRUMPH'

k=[print(i) for i in str if i not in 'aeiou']

D
O
N
A
L
D

T
R
U
M
P
H

In [21]:
def func1(L):
    L[0]='A'
L1=[1,2,3]
func1(L1)
print(L1)

['A', 2, 3]

In [22]:
lst1=[10, 20]
lst2=lst1
lst1[0]=40
print(lst2)

[40, 20]

# 9. List Processing: Searching and Sorting
### Linear/Sequencial Search
### Binary Search

In [1]:
def linear_search(my_list, key):
    for i in range(len(my_list)):
        if (my_list[i]==key):
            # print(key,'is found at the position',i)
            return i
            break
    return -1
my_list = [61, 22, 15, 18, 24, 24]
print('My list Elements are: ')
print(my_list)
key=int(input('Enter the Key element: '))
L1 = linear_search(my_list, key)
if (L1!=-1):
    print(key,'is found at the position',L1+1)
else:
    print('Key not found in a List')

My list Elements are:
[61, 22, 15, 18, 24, 24]
Enter the Key element: 24
24 is found at the position 5

In [16]:
def binary_search(my_list, key):
    low=0
    high=len(my_list)-1
    while low<=high:
        mid=(low+high)//2
        if my_list[mid]==key:
            return mid
        elif key>my_list[mid]:
            low=mid+1
        else:
            high=mid-1
    return -1
my_list = [61, 5, 35, 84, 7, 98, 75]
print('My list Elements are: ')
print(my_list)
key=eval(input('Enter the Key element: '))
x = binary_search(my_list, key)
if (x==-1):
    print('Key not found in a List')
    
else:
    print(key,'is found at the position',x+1)

My list Elements are:
[61, 5, 35, 84, 7, 98, 75]
Enter the Key element: 75
Key not found in a List

# Sorting
## Bubble Sorting

In [27]:
def bubble_sort(my_list):
    for i in range(len(my_list)-1, 0, -1):
        print(my_list, 'at \'i\'',i)
        for j in range(i):
            #print(my_list,'at j',j)
            if my_list[j]>my_list[j+1]:   # It's in Ascending order, if you want descending use my_list[j] < my_list[j+1]
                temp, my_list[j] = my_list[j], my_list[j+1]    #Swapping the content
                my_list[j+1] = temp
            print(my_list,'at j',j)
my_list = [24, 5, 84, 54, 6, 75, 2, 47, 2, 84]
print('Elements of the List are ',my_list)
bubble_sort(my_list)
print('Bubble sorted List elements are ',end='')
print(my_list)

Elements of the List are  [24, 5, 84, 54, 6, 75, 2, 47, 2, 84]
[24, 5, 84, 54, 6, 75, 2, 47, 2, 84] at 'i' 9
[5, 24, 84, 54, 6, 75, 2, 47, 2, 84] at j 0
[5, 24, 84, 54, 6, 75, 2, 47, 2, 84] at j 1
[5, 24, 54, 84, 6, 75, 2, 47, 2, 84] at j 2
[5, 24, 54, 6, 84, 75, 2, 47, 2, 84] at j 3
[5, 24, 54, 6, 75, 84, 2, 47, 2, 84] at j 4
[5, 24, 54, 6, 75, 2, 84, 47, 2, 84] at j 5
[5, 24, 54, 6, 75, 2, 47, 84, 2, 84] at j 6
[5, 24, 54, 6, 75, 2, 47, 2, 84, 84] at j 7
[5, 24, 54, 6, 75, 2, 47, 2, 84, 84] at j 8
[5, 24, 54, 6, 75, 2, 47, 2, 84, 84] at 'i' 8
[5, 24, 54, 6, 75, 2, 47, 2, 84, 84] at j 0
[5, 24, 54, 6, 75, 2, 47, 2, 84, 84] at j 1
[5, 24, 6, 54, 75, 2, 47, 2, 84, 84] at j 2
[5, 24, 6, 54, 75, 2, 47, 2, 84, 84] at j 3
[5, 24, 6, 54, 2, 75, 47, 2, 84, 84] at j 4
[5, 24, 6, 54, 2, 47, 75, 2, 84, 84] at j 5
[5, 24, 6, 54, 2, 47, 2, 75, 84, 84] at j 6
[5, 24, 6, 54, 2, 47, 2, 75, 84, 84] at j 7
[5, 24, 6, 54, 2, 47, 2, 75, 84, 84] at 'i' 7
[5, 24, 6, 54, 2, 47, 2, 75, 84, 84] at j 0
[5, 6, 24, 54, 2, 47, 2, 75, 84, 84] at j 1
[5, 6, 24, 54, 2, 47, 2, 75, 84, 84] at j 2
[5, 6, 24, 2, 54, 47, 2, 75, 84, 84] at j 3
[5, 6, 24, 2, 47, 54, 2, 75, 84, 84] at j 4
[5, 6, 24, 2, 47, 2, 54, 75, 84, 84] at j 5
[5, 6, 24, 2, 47, 2, 54, 75, 84, 84] at j 6
[5, 6, 24, 2, 47, 2, 54, 75, 84, 84] at 'i' 6
[5, 6, 24, 2, 47, 2, 54, 75, 84, 84] at j 0
[5, 6, 24, 2, 47, 2, 54, 75, 84, 84] at j 1
[5, 6, 2, 24, 47, 2, 54, 75, 84, 84] at j 2
[5, 6, 2, 24, 47, 2, 54, 75, 84, 84] at j 3
[5, 6, 2, 24, 2, 47, 54, 75, 84, 84] at j 4
[5, 6, 2, 24, 2, 47, 54, 75, 84, 84] at j 5
[5, 6, 2, 24, 2, 47, 54, 75, 84, 84] at 'i' 5
[5, 6, 2, 24, 2, 47, 54, 75, 84, 84] at j 0
[5, 2, 6, 24, 2, 47, 54, 75, 84, 84] at j 1
[5, 2, 6, 24, 2, 47, 54, 75, 84, 84] at j 2
[5, 2, 6, 2, 24, 47, 54, 75, 84, 84] at j 3
[5, 2, 6, 2, 24, 47, 54, 75, 84, 84] at j 4
[5, 2, 6, 2, 24, 47, 54, 75, 84, 84] at 'i' 4
[2, 5, 6, 2, 24, 47, 54, 75, 84, 84] at j 0
[2, 5, 6, 2, 24, 47, 54, 75, 84, 84] at j 1
[2, 5, 2, 6, 24, 47, 54, 75, 84, 84] at j 2
[2, 5, 2, 6, 24, 47, 54, 75, 84, 84] at j 3
[2, 5, 2, 6, 24, 47, 54, 75, 84, 84] at 'i' 3
[2, 5, 2, 6, 24, 47, 54, 75, 84, 84] at j 0
[2, 2, 5, 6, 24, 47, 54, 75, 84, 84] at j 1
[2, 2, 5, 6, 24, 47, 54, 75, 84, 84] at j 2
[2, 2, 5, 6, 24, 47, 54, 75, 84, 84] at 'i' 2
[2, 2, 5, 6, 24, 47, 54, 75, 84, 84] at j 0
[2, 2, 5, 6, 24, 47, 54, 75, 84, 84] at j 1
[2, 2, 5, 6, 24, 47, 54, 75, 84, 84] at 'i' 1
[2, 2, 5, 6, 24, 47, 54, 75, 84, 84] at j 0
Bubble sorted List elements are [2, 2, 5, 6, 24, 47, 54, 75, 84, 84]

# 10. Object Oriented Programming(Oops):
## Class, Objects and Inheritance

In [4]:
class Demo():
    pass
D1=Demo()
print(D1)
print('*****************End of Program*******************')


class simple_program():
    print('Welcome to Object Oriented Programming')
c=simple_program()
print(c)

<__main__.Demo object at 0x000002363DC321D0>
*****************End of Program*******************
Welcome to Object Oriented Programming
<__main__.simple_program object at 0x000002363D68C6D8>

In [8]:
class rectangle():  # Class
    leangth=0       # Assigning Attributes
    breadth=0
r1=rectangle()      # Object/Instance of Class
print('Leangth: ',r1.leangth)             #Accessing the attribute length and breadth
print('Breadth: ',r1.breadth)
print('Area of the rectangle: ',r1.leangth*r1.breadth)
print('****After reassigning the Attributes****')
r1.leangth=30
r1.breadth=40
print('Leangth: ',r1.leangth)
print('Breadth: ',r1.breadth)
print('Area of the rectangle after reassigning: ',r1.leangth*r1.breadth)

Leangth:  0
Breadth:  0
Area of the rectangle:  0
****After reassigning the Attributes****
Leangth:  30
Breadth:  40
Area of the rectangle after reassigning:  1200

## Adding METHODs to Class

In [9]:
class methodDemo():
    def disp_Message(self):
        print('Welcome to Python Programming')
c1=methodDemo()
c1.disp_Message()

Welcome to Python Programming

In [10]:
import math
class calc():
    def area_circle(self, radius):
        print('radius: ',radius)
        return math.pi*radius**2
c1=calc()
c1.area_circle(4)

radius:  4

50.26548245743669

In [15]:
class rectang():
    def are_rect(self, lent, brdt):
        print('Length: ',lent)
        print('Breadth: ',brdt)
        return lent*brdt
c2=rectang()
print('Area of the Rectangle is ',format(c2.are_rect(5.1,4.2),'.2f'))

Length:  5.1
Breadth:  4.2
Area of the Rectangle is  21.42

## Local and Instance Variables

In [19]:
class glob:
    x=5
    def loc(self, x):
        x=30
        print('Local variable x is',x)
        print('Instance variable x is ',x)
ob=glob()
ob.loc(50)

Local variable x is 30
Instance variable x is  30

In [20]:
class glob:
    x=5
    def loc(self, x):
        x=30
        print('Local variable x is',x)
        print('Instance variable x is ',self.x)
ob=glob()
ob.loc(50)

Local variable x is 30
Instance variable x is  5

In [22]:
class self_Demo:
    def method_A(self):
        print('In Method A')
        print('Wow!! calling from Method A')
    def method_B(self):
        print('In Method B calling Method A')
        self.method_A()
ob=self_Demo()
ob.method_B()

In Method B calling Method A
In Method A
Wow!! calling from Method A

In [26]:
class dispDemo():
    Name =''
    Age=''
    def read(self):
        name = input('Enter the Name ')
        print('Name: ',name)
        age = input('Enter the Age ')
        print('Age: ',age)
ob=dispDemo()
ob.read()

dispDemo.__dict__

Enter the Name prakash
Name:  prakash
Enter the Age 29
Age:  29

mappingproxy({'__module__': '__main__',
              'Name': '',
              'Age': '',
              'read': <function __main__.dispDemo.read(self)>,
              '__dict__': <attribute '__dict__' of 'dispDemo' objects>,
              '__weakref__': <attribute '__weakref__' of 'dispDemo' objects>,
              '__doc__': None})

In [5]:
class demo():
    pass
d1=demo()   #It neighter contain a Method as well as Class

dir(d1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [17]:
class Person:
    def __init__(self):
        self.name='Bill Gates'
        self.__BankAccNo=10101
    
    def display(self):
        print('Name: ',self.name)
        print('Account Number: ',self.__BankAccNo)
    
d1=Person()
print('Name: ',d1.name)   # Accessing the Public attribute outside the class

# print('Account: ',d1.__BankAccNo)    # Accessing the PRIVATE attribute outside the class but it got FAILS

d1.display()

Name:  Bill Gates
Name:  Bill Gates
Account Number:  10101

## __init__ Method(Constructer)

In [20]:
class circle:
    def __init__(self, pi):
        self.pi = pi
    
    def calc_area(self, radius):
        return self.pi*radius**2
    
c1=circle(3.142)  # We do not EXPLICITLY calling __init__ method
print('Area of the circle is',format(c1.calc_area(5.2),'0.2f'))

Area of the circle is 84.96

In [22]:
class circle:
    pi=0
    radius=0
    def __init__(self):
        self.pi=3.142
        self.radius=9.2
        
    def calc_cir(self):
        return self.pi*self.radius**2
    
c1=circle()  # We do not EXPLICITLY calling __init__ method
print('Area of the circle is',format(c1.calc_cir(),'0.2f'))

Area of the circle is 265.94

## Method Overloading: Having Multiple Methods with same names

In [29]:
class Overload:
    result=0
    def add (self, instanceof=None, *args):
        if instanceof=='int':
            self.result=0
        if instanceof=='str':
            self.result=''
        for i in args:
            self.result=self.result+i
        return self.result
    
D1=Overload()   
print(D1.add('int', 10,5,57))
print(D1.add('str', 'I ','Love ','Python '))

72
I Love Python

In [33]:
class methodoverloading:
    def greeting(self, name=None):
        if name is not None:
            print('Welcome '+name)
        else:
            print('welcome')
ob=methodoverloading()
print(ob.greeting())
print(ob.greeting('Prakash'))

welcome
None
Welcome Prakash
None

# Inheritance:
### It's most useful characterstic of Oops, It is creating the new class from the existing classes

### Single Inheritance
### MultiClass Inheritance
### MultiLevel Inheritance

In [34]:
class point:                     # Base Class(Super class)
    def set_cordi(self, x, y):
        self.x=x
        self.y=y
        
class sub_point(point):          # Derived Class (Sub class)
    def draw(self):
        print('Locate X point',self.x,'on X axis')
        print('Locate Y point',self.y,'on Y axis')
        
p=sub_point()         #Instance of Derived class
p.set_cordi(20, 30)
p.draw()

Locate X point 20 on X axis
Locate Y point 30 on Y axis

### MultiLevel Inheritance

In [3]:
class A:
    name = ''
    age = 0

class B(A):
    weight = ''
    
class C(B):
    height = ''
    
    def read(self):
        print('Please Enter the details ')
        self.name = input('Enter the Name ')
        self.age = int(input('Enter the Age '))
        self.weight = int(input('Eneter the weight '))
        self.height = eval(input('Enter the height '))
        
    def display(self):
        print()
        print('Details are as below')
        print('Name ',self.name)
        print('Age ',self.age)
        print('Weight ',self.weight)
        print('Height ',self.height)       
        
ob = C()
ob.read()
ob.display()

Please Enter the details
Enter the Name Prakash
Enter the Age 29
Eneter the weight 75
Enter the height 5.6

Details are as below
Name  Prakash
Age  29
Weight  75
Height  5.6

### Multiclass Inheritance

In [7]:
class A:
    a = 0

class B:    # This is the MAIN difference
    b = 0
    
class C(A, B):     # Multiclass
    c = 0
    
    def read(self):
        self.a = input('Enter the value of a ')
        self.b = input('Enter the value of b ')
        self.c = input('Enter the value of c ')
        
    def display(self):
        print()
        print('a =',self.a)
        print('b =',self.b)
        print('c =',self.c)     
        
ob = C()
ob.read()
ob.display()

Enter the value of a 5
Enter the value of b 4
Enter the value of c8

a = 5
b = 4
c = 8

In [15]:
class A:
    def __init__(self):
        self.s='Welcome'
    def display(self):
        print(self.s)
        
a=A()
a.display()

Welcome

# 11. Tuples, Sets and Dictionaries
## Tuples : Read only version of List is known as tuple

In [33]:
# Tuple is IMMUTABLE (no changes)
# Single value in parenthesis is not a tuple
# t1 =(4,) Its a Tuple
# t1 =(4) Its a Int

t1 = ()   # Empty Tuple
t1 = tuple()   # Empty Tuple
t2 = (4, 6, 6, 8, 9)
t3 = ('a', 'b', 'g')
t4 = 'a', 'b', 'g'

type(t1)


t5 = 'NOKIA'     # its a STRING
type(t5)

t6 = tuple('NOKIA')    # Its a Tuple
t6


t7 = ('APPLE')

print(max(t7))
print(min(t7))
print(len(t7))
print(t7.count('P'))
print(t7.index('P'))
print('End of Inbuilt functions')
print()


t8 = ('PYTHON')

print(t8[2])
print(t8[-2])
print(t8[:2])
print(t8[:2:-1])
print('End of Slicing and Indexing')
print()


t9=(2, 8)
t10=(9, 7)

print(t9+t10)   # Concantination
print(t9*3)     # Repetition

P
A
5
2
1
End of Inbuilt functions

T
O
PY
NOH
End of Slicing and Indexing

(2, 8, 9, 7)
(2, 8, 2, 8, 2, 8)

In [35]:
def sum_all(*args):
    t=()
    s=0
    for i in args:
        s=s+i
    print(s)
    
print(sum_all(1, 2, 5, 8))
print(sum_all( 2, 5, 8))

16
None
15
None

### Conversion of List to Tuple

In [37]:
l1=[1, 8, 9]
print(type(l1))

t1=tuple(l1)
print(type(t1))
t1

<class 'list'>
<class 'tuple'>

(1, 8, 9)

### Sorting the Tuple

In [41]:
# We don't have the SORT inbuilt method to tuple so, we have to convert the Tuple to list then SORT then revert it back to tuple

t1=(3, 8, 4, 95, 1, 74)
l1=list(t1)
print(l1)
print(type(l1))
l1.sort()
t2=tuple(l1)
print(t2)
print(type(t2))

[3, 8, 4, 95, 1, 74]
<class 'list'>
(1, 3, 4, 8, 74, 95)
<class 'tuple'>

### The zip() function

In [51]:
l1 = [1, 5, 9]
l2 = ['Sam', 'Joshu', 'Raveena']
l3 = [1, 'Four', 9]
l4 = tuple(zip(l1,l2,l3))    # you can use LIST as well as TUPLE
print(l4)
type(l4)

((1, 'Sam', 1), (5, 'Joshu', 'Four'), (9, 'Raveena', 9))

tuple

In [52]:
l1 = ['Black', 'White', 'Gray']
l2 = [0, 255, 126]

for color,code in zip(l1,l2):
    print((color, code))

('Black', 0)
('White', 255)
('Gray', 126)

### The zip(*) function : Unpacking the list

In [54]:
x = [('Apple', 50000), ('Dell', 30000)]
Laptop, Prices = zip(*x)
print(Laptop)
print(Prices)

('Apple', 'Dell')
(50000, 30000)

In [55]:
matrix = [(1,2), (3,7), (6,8)]
x=zip(*matrix)
tuple(x)

((1, 3, 6), (2, 7, 8))

## Sets

In [64]:
s=set()        # Empty set
print(type(s))

l1 = [2, 4, 2]    # List
t1 = (4, 88, 24)   # Tuple 

s1 = {1, 8, 57}    # Creating the set of three elements
print(s1)
print(1 in s1)    # in and NotIn operater
print(58 not in s1)

s3 = set(l1)
s4 = set(t1)

print(type(s3))
print(s3)
print(type(s4))
print(s4)

s9 = {47, 5, 68, 9, 10}
s8 = {47, 5, 68, 9}
s10 = {1, 5}

print(s9.add(100))   # Adding
print(s9)

print(s9.remove(100))   # Removing
print(s9)

print(s8.issubset(s9))  # Subset

print(s9.issuperset(s8))  # Superset

print(s10.clear())    # Clearing

<class 'set'>
{8, 1, 57}
True
True
<class 'set'>
{2, 4}
<class 'set'>
{88, 24, 4}
None
{68, 5, 100, 9, 10, 47}
None
{68, 5, 9, 10, 47}
True
True
None

### Set Operations

In [68]:
s4 = {1, 2, 3, 4}
s5 = {3, 4, 5, 6}

print(s4.union(s5))   # union() you can use s4 | s5

print(s4.intersection(s5))   # intersection() you can use s4 & s5

print(s4.difference(s5))   # difference() you can use s4 - s5

print(s4.symmetric_difference(s5))   # symmetric_difference() you can use s4 ^ s5

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

## Dictionaries

In [1]:
# Dictionariers are Key Value pairs 
# Key is of any Type and it's act like INDEX operater
# Dictionaries does not contain any duplicate Keys


d1 = {}   # Empty dictionary
print(type(d1))

<class 'dict'>

### Different ways of creating dictionaries

In [28]:
d1 = {'Name':'Amit', 'Age':40}
print('way one',d1)

d2 = {}
d2['Name'] = 'Amit'
d2['Age'] = 40
print('Way two',d2)

d3 = dict(Name='Amit', Age=40)
print('Way three',d3)

dict([('Name','Amit'), ('Age',40)])

# Adding the New Keys to d1
d1['Weight']=75
print('After adding the NEW Entry',d1)


# It OVERWRITES the value with same Keys
d1['Name']='Prakash'
print('After Overwring',d1)

# DELETING the Items
del d1['Age']
print('After Deleting',d1)

d3['Name']

way one {'Name': 'Amit', 'Age': 40}
Way two {'Name': 'Amit', 'Age': 40}
Way three {'Name': 'Amit', 'Age': 40}
After adding the NEW Entry {'Name': 'Amit', 'Age': 40, 'Weight': 75}
After Overwring {'Name': 'Prakash', 'Age': 40, 'Weight': 75}
After Deleting {'Name': 'Prakash', 'Weight': 75}

'Amit'

### Formatting and Comparing the Items

In [29]:
# Formatting the script

D = {}
D['Laptop'] = 'Windows'
D['Price Range'] = 60000
print(D)

p ='I want to purchase %(Laptop)s Laptops in the %(Price Range)d price range'%D    # s - sting and d - integer
print(p)


# comparing the Contents

p1 = {'I': 'India', 'A':'America'}
p2 = {'I': 'Italy', 'A':'America'}

print(p1==p2)
print(p1!=p2)

{'Laptop': 'Windows', 'Price Range': 60000}
I want to purchase Windows Laptops in the 60000 price range
False
True

### Methods of Dictionary class

In [34]:
team = {'Sachin':25000, 'Virat':18000, 'MahendraSingh':15000, 'Rahul':13000 }

print(team.keys())

print(team.values())

print(team.items())

print(team.get('Virat'))

print(team.pop('MahendraSingh'))
print('After item Popped',team)

print(team.clear())

dict_keys(['Sachin', 'Virat', 'MahendraSingh', 'Rahul'])
dict_values([25000, 18000, 15000, 13000])
dict_items([('Sachin', 25000), ('Virat', 18000), ('MahendraSingh', 15000), ('Rahul', 13000)])
18000
15000
After item Popped {'Sachin': 25000, 'Virat': 18000, 'Rahul': 13000}
None

In [35]:
roommate = {'Pavan':29, 'Balu':31, 'Angara':29}
for key in roommate.keys():
    print(key, roommate.get(key))

Pavan 29
Balu 31
Angara 29

### Nested dictionary

In [40]:
players = {'Sachin':{'ODI':18426, 'Test':15921}, 'Virat':{'ODI':7212, 'Test':3254}}

for player_Name, player_details in players.items():
    print('Name: ',player_Name)
    print('Run scored in ODIs: ',player_details['ODI'])
    print('Run scored in Tests: ',player_details['Test'])
    print()

Name:  Sachin
Run scored in ODIs:  18426
Run scored in Tests:  15921

Name:  Virat
Run scored in ODIs:  7212
Run scored in Tests:  3254

In [41]:
def histgram(S):
    D = {}          # Empty Dictionary
    for C in S:
        if C not in D:
            D[C] = 1
        else:
            D[C] = D[C] + 1
    return D
h = histgram('APPLEE')
print(h)

{'A': 1, 'P': 2, 'L': 1, 'E': 2}

In [43]:
def sqrs_num(S):
    D = dict()
    for i in range(1, S+1):
        D[i] = i*i
    return D
n = sqrs_num(5)
print(n)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [44]:
def pos_neg(L):
    D = dict()
    D['Pos'] = 0
    D['Neg'] = 0
    for i in L:
        if i > 0:
            D['Pos'] +=1
        else:
            D['Neg'] +=1
    return D
L = [-2, 4, -2, -7, 8]
pos_neg(L)

{'Pos': 2, 'Neg': 3}

In [45]:
init_tuple=()
print(init_tuple.__len__())

0

In [47]:
t = ((1,2),)*7
print(len(t[3:6]))

3

In [48]:
my_dict = {}
my_dict[(1, 2, 3)] = 12
my_dict[(1, 3)] = 2
print(my_dict)

{(1, 2, 3): 12, (1, 3): 2}

In [50]:
team = {'Sachin':25000, 'Virat':18000, 'MahendraSingh':15000, 'Rahul':13000 }

team['Sachin']

25000

In [5]:
x = (11, 12,(13,'Sachin',14),'Hi')
print(x[2][-1])
# print(x[-1][2])   out of Range you will get
print(x[-1][-1])
print(13 in x)

14
i
False

In [15]:
d1 = {1:['91', 'India'], 2:['65','USA']}
print(d1)

#d2 = {['India']:1, ['USA']:65}
#print(d2)

d3 = {('India'):1, ('USA'):65}
print(d3)

d4 = {1:'India', 65:'USA'}
print(d4)

d5 = {'India':1, 'USA':65}
print(d5)

{1: ['91', 'India'], 2: ['65', 'USA']}
{'India': 1, 'USA': 65}
{1: 'India', 65: 'USA'}
{'India': 1, 'USA': 65}

In [18]:
s = {(1,2), 3, 4}
print(s)

{(1, 2), 3, 4}

In [19]:
fruits = ('Banana', 'Grapes', 'Mango', 'Watermelon')
print(max(fruits))
print(min(fruits))

Watermelon
Banana

# 13. File Handling

In [23]:
#F1 = open('Demo.txt','r')  # you should create a one file on directory with fine name Demo


def main():
    obj = open('Demo.txt','w') 
    obj.write('Hello \n')
    obj.write('Welcome to Python Programming \n')
main()

In [26]:
def main():
    obj = open('WriteNum.txt','w')
    for x in range (1, 21):
        x = str(x)  # Convert int to str , because write() expects str only
        obj.write(x)
        obj.write(' ')
    obj.close()    
main()

In [27]:
# Reading the text from file

rd = open('ReadDemo.txt','r')
text = rd.read()
print(text)

I
Love
Python
Programming

### The seek() function

In [30]:
# Syntax  File_Object.seek(offset, whence)

sk = open('seekDemo.txt','w+')

sk.write('oh!God, You are Awesome!')
sk.seek(3)
sk.readline()

'God, You are Awesome!'

In [8]:
wd = open('weekDays.txt','w+')
wd.write('Monday\n')
wd.write('Tuesday\n')
wd.write('Wednesday\n')
wd.write('Thursday\n')
wd.write('Friday\n')
wd.seek(0)
# t = wd.read()
# print(t)

wd.seek(0, 2)
wd.write('Saturday\n')
wd.write('Sunday')
wd.seek(0)
t = wd.read()
print(t)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

### Directories on Disk

In [30]:
import os

# Current working Directary
os.getcwd()

# Change current Working directary
os.chdir('C:\\Users\\Shivanand\\MLProjects')
os.getcwd()

# File Exist or not
print(os.path.isfile('Demo.txt'))
print(os.path.isfile('Demo2.txt'))

# Directory search
print(os.path.isdir('C:\\Users\\Shivanand\\MLProjects'))

# Make Directory (Creating new directory)
# os.mkdir('Practice')
# os.chdir('C:\\Users\\Shivanand\\MLProjects\\Practice')
# os.getcwd()

# Find the list of files and Directories
os.listdir('C:\\Users\\Shivanand\\MLProjects')

# Rename directory
os.chdir('C:\\Users\\Shivanand\\MLProjects\\Practice')
os.getcwd()
os.listdir('C:\\Users\\Shivanand\\MLProjects\\Practice')

# os.rename('Demo.txt', 'DemoNew.txt')   #Renaming Occures
os.listdir('C:\\Users\\Shivanand\\MLProjects\\Practice')

# Size of the dir
os.path.getsize('DemoNew.txt')

True
False
True

0