## why Function?
### Divide a big program to small modules and repeatedly call these modules

#### Syntax: 
#### def name_of_function(Parameter):

In [1]:
def display():
    print('Enter to function section!...')

display()

Enter to function section!...

In [4]:
def welcome():
    name = input('Enter your name: ')
    print('Dear '+name+', welcome to new journey!...')
welcome()

Enter your name: ganga
Dear ganga, welcome to new journey!...

In [9]:
def mul(x, y):
    total = 1
    for i in range(x, y+1):
        total = total*i
    print(total)
mul(1,4)
mul(6,8)

24
336

In [5]:
def print_msg():
    str1=input('Enter your Name: ')
    print('Dear',str1,', Please welcome to Python Programming')
print_msg()

Enter your Name: Prakash
Dear Prakash , Please welcome to Python Programming

In [13]:

def addition(x, y):
    s=0
    for i in range(x,y+1):
        s=s+i
    print('Sum of the',x,'to',y,'is',s)
addition(1,25)
addition(50,75)

Sum of the 1 to 25 is 325
Sum of the 50 to 75 is 1625

## Parameter and arguments
### Parameters are used to give inputs to a function. if we call the function, the values are also passed to function

In [13]:
def maximum(num1, num2):
    if num1>num2:
        print(num1,'is maximum')
    else:
        print(num2,'is maximum')
maximum(5, 5)

5 is maximum

In [16]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact = fact * i
    print(fact)
    
factorial(5)

120

### Positional Arguments:
#### The parameters are assigned by defealt according to thier position

In [19]:
def Display(name, age):
    print('my name is',name,'and my age is:',age)
    
Display('Pavan', 31)
Display(31, 'Arun')

my name is Pavan and my age is: 31
my name is 31 and my age is: Arun

In [21]:
# def Display(name, age):
#     print('my name is',name,'and my age is:',age)
    
# Display('Pavan')

### Note: Python will show an error when an incorrect number of arguments are passed to function call.

In [35]:
def ops(x, y):
    print('Addition', x+y)
    print('Substraction', x-y)
    print('Multiplication', x*y)


ops(1, 4)

Addition 5
Substraction -3
Multiplication 4

In [16]:
def printMax(num1,num2):
    print('Num1: ',num1)
    print('Num2: ',num2)
    
    if num1>num2:
        print(num1,'is greater than',num2)
    elif num2>num1:
        print(num2,'is greater than',num1)
    else:
        print('Both numbers are Equal')
printMax(5,8)
printMax(11,5)
printMax(5,5)

Num1:  5
Num2:  8
8 is greater than 5
Num1:  11
Num2:  5
11 is greater than 5
Num1:  5
Num2:  5
Both numbers are Equal

In [4]:
def maxi(x, y, z):
#     maxim = x if x>y and x>z else y if y>z else z
#     return maxim
    return x if x>y and x>z else y if y>z else z


print(maxi(1, 24, 3))
print(maxi(31, 2, 1))
print(maxi(1, 34, 2))

24
31
34

In [17]:
num=int(input('Enter the number: '))
def factorial(num):
    fact=1
    for i in range(1, num+1):
        fact=fact*i
    print('Facrorial of',num,'is',fact)
factorial(num)

Enter the number: 5
Facrorial of 5 is 120

### Keyword arguments:

#### Name_of_funaction(key1 = value1, key2=value2......)

In [26]:
def Display(name, age):
    print('my name is',name,'and my age is:',age)
Display(age=61, name='Balu')

my name is Balu and my age is: 61

## Parameters with default values

In [31]:
def greet(name, msg=', Welcome to on boarding...'):
    print('Hi',name,msg)
greet('Akash')
greet('Victor','how are you')
greet('Ravi')

Hi Akash , Welcome to on boarding...
Hi Victor how are you
Hi Ravi , Welcome to on boarding...

In [33]:
def area_of_the_circle(pi=3.142, radius=1):
    print('Radius:',radius)
    print('Area of the circle:',pi*radius**2)
area_of_the_circle()
area_of_the_circle(radius=2)

Radius: 1
Area of the circle: 3.142
Radius: 2
Area of the circle: 12.568

In [23]:
def area_of_circle(pi=3.142, r=1):
    area=pi*r**2
    print("Area of the circle is",format(area,'0.2f'),'with a Radius of',r)
area_of_circle()
area_of_circle(r=2)
area_of_circle(pi=4)

Area of the circle is 3.14 with a Radius of 1
Area of the circle is 12.57 with a Radius of 2
Area of the circle is 4.00 with a Radius of 1

In [26]:
def disp(a, b=9, c=20):
    print('a =',a, 'b =',b, 'c =',c)
disp(15)
disp(b=10, a=15)

a = 15 b = 9 c = 20
a = 15 b = 10 c = 20

## Local and Global scope of a variable
### Local: Varibales that exist in local scope
### Global: Varibales that exist in Global scope

In [34]:
p = 10

def demo():
    q = 20
    print('Local var:',q)
    print('Global Var:',p)
demo()

Local var: 20
Global Var: 10

## Note: Local varibals are CAN'T be used in Global scope

## Reading Global variables from local scope

In [37]:
def Demo():
    print(s)
    
s = 'I love python'
Demo()

I love python

## Global and local variables with same names

In [38]:
def trail():
    s = 'I love programming'
    print(s)
s = 'I like Python'
trail()
print(s)

I love programming
I like Python

## The return statement
### return is used to return the value from the function

In [42]:
def maximum(a, b):
    if a>b:
        return a
    elif b>a:
        return b
    else:
        return "both are same numbers"
print(maximum(2, 12))

12

In [45]:
def cal_dist():
    x1 = int(input('Enter the x1 Value:'))
    x2 = int(input('Enter the x2 Value:'))    
    y1 = int(input('Enter the y1 Value:'))    
    y2 = int(input('Enter the y2 Value:'))
    
    z = ((x1-x2)**2+(y1-y2)**2)**0.5
    return z
print('Distance:',format(cal_dist(), '.2f'))

Enter the x1 Value:4
Enter the x2 Value:2
Enter the y1 Value:4
Enter the y2 Value:2
Distance: 2.83

In [50]:
def area_of_the_circle(r):
    if r<0:
        return "Radius should be non zero and cannot be negative value"
    else:
        return 3.142*(r**2)
print('Area of the circle: ',format(area_of_the_circle(3),'0.2f'))

Area of the circle:  28.28

## Returning multiple values:

In [52]:
def calc(num1, num2):
    return num1+num2, num1-num2, num1*num2, num1/num2

print('Arithmatic operations: ', calc(11, 2))

Arithmatic operations:  (13, 9, 22, 5.5)

## Assign returned multiple values to variables

In [59]:
def sqr_cube():
    global n1
    n1 = int(input('Enter the input: '))
    return n1**2, n1**3
square, cube = sqr_cube()
print(n1,'\'s', 'Square is',format(square,'.2f'),'and Cube is',format(cube,'.2f'))

Enter the input: 4
4 's Square is 16.00 and Cube is 64.00

## Recursive Function
### Situation where a function need to invoke itself, that function is repetitively called by itself. 
### Exam: factorial n*(n-1)!

In [66]:
def factorial(n):
#     n = int(input('Enter the num: '))
    if n == 0:
        return 1
    return n*factorial(n-1)
factorial(5)

120

In [68]:
def fibbonaci(n):
    if n==0:
        return 1
    if n==1:
        return 1
    return fibbonaci(n-1)+fibbonaci(n-2)
fibbonaci(8)

34

## The Lambda function ( Anonymous)
### Name = lambda(Variables):code

Note: 
It does not contain "return" statements
It contains single expression as a body

In [69]:
def cube(n):
    return n**3

cubelambda = lambda x: x**3

print(cube(3))
print(cubelambda(3))

27
27

In [62]:
S='I Love Programming'     #Global Variable

def display():
    S='I Love Python'     #Local Variable
    print(S)

T='I Love PythonProgramming'     #Global Variable

display()
print(S)
print(T)

I Love Python
I Love Programming
I Love PythonProgramming

In [1]:
a=20
def display():
    global a
    a=30
    print('Value inside the function: ',a)
display()
print('Value outside the function: ',a)

Value inside the function:  30
Value outside the function:  30

In [26]:
def minimum(x,y):
    if x<y:
        return x
    elif y<x:
        return y
    else:
        print('Both numbers are Equal')
print(minimum(2,5),'is minimum number')
#print('Smallest number is: ',minimum(2,5))

2 is minimum number

In [23]:
import math
def distance_calc(x1,x2,y1,y2):
    print('X1 =',x1)
    print('X2 =',x2)
    print('Y1 =',y1)
    print('Y2 =',y2)
    dx=(x1-x2)**2
    dy=(y1-y2)**2
    z=math.pow(dx+dy, 0.5)
    return z
print('Distance: ',distance_calc(4,2,4,2))
print('Distance: ',format(distance_calc(4,2,4,2),"0.2f"))
format(distance_calc(4,2,4,2),"0.2f")

X1 = 4
X2 = 2
Y1 = 4
Y2 = 2
Distance:  2.8284271247461903
X1 = 4
X2 = 2
Y1 = 4
Y2 = 2
Distance:  2.83
X1 = 4
X2 = 2
Y1 = 4
Y2 = 2

'2.83'

In [31]:
def area_of_circle(radius):
    if radius<0:
        return 'Enter non-zero radius'
    else:
        return 3.142*radius**2
print('Area is',format(area_of_circle(2),'0.2f'))

Area is 12.57

In [36]:
def arith(x,y):
    return x+y, x-y

add, sub=arith(2,3)
print('Addition', add, 'Subtraction',sub)

Addition 5 Subtraction -1

## Excersize

In [1]:
def eval_quad(a, b, c, x):
    return a*x**2+b*x+c
eval_quad(1, 2, 3, 4)

27

In [4]:
def expo():
    base = eval(input('Enter Base number: '))
    exp = eval(input('Enter non zero exponent number: '))
    return format((base**exp), '0.2f')

expo()

Enter the number: 2.5
Enter non zero number: 0.5

'1.58'

In [10]:
def digit_sum():
    digits = int(input('Enter four the number: '))
    d1 = digits%10
    r1 = digits//10
    d2 = r1%10
    r2 = r1//10
    d3 = r2%10
    r3 = r2//10
    d4 = r3%10
    return d1+d2+d3+d4
digit_sum()

Enter four the number: 1234

10

In [14]:
def factors():
    fact = int(input('Enter positive integer value: '))
    for i in range(1, fact+1):
        if fact%i == 0:
            print(i)
            
factors()

Enter positive integer value: 56
1
2
4
7
8
14
28
56

In [14]:
def Demo(p=20, q=40):
    return p+q
Demo(q=10, p=6)

16

In [3]:
x=20
def f():
    global x
    x=x+10
    print(x)
f()

30

In [5]:
def test():
    return 10
x=11
print(test())
print(x)

10
11

In [11]:
def test():
    global x
    x='A'
#x='Z'
#test()
print(x)

A

In [13]:
def test(x):
    x=200
x=100
test(x)
print(x)

100

In [14]:
def test(x):
    p=90
p=50
print(test(p))

None

In [17]:
def exp_1(z):
    z=z+5
    def exp_2(z):
        print('Hello')
        return z
    return z
value=10
print(exp_1(value))

15

In [21]:
def exp_1():
    global x
    x=x-5
    def exp_2():
        global x
        return x+3
    return exp_2()
    
x=10
print(exp_1())

8

In [28]:
def mul(num1, num2):
    num2 =num1*num2
    return num1,num2
print(mul(5,4))
num2, num1= mul(5,4)
print(num1, num2)

(5, 20)
20 5

In [43]:
def dis(Desig, Salary):
    print('Designation: ',Desig,'Salary: ',Salary)
dis('manager',50000)
dis(30000,'Prg')

Designation:  manager Salary:  50000
Designation:  30000 Salary:  Prg

In [55]:
import math
def cal_exp(base, exp):
    if exp<=0:
        return 'Please Enter non zero Exponential number'
    else:
        return math.pow(base,exp)
print(cal_exp(2,2.2))
#print('Result is:',format(cal_exp(2,2),'0.2f'))

4.59479341998814

In [65]:
def gcd_num(a,b):
    for i in range (a+b,2,-1):
        if i%a==0 and i%b==0:
            return i
print(gcd_num(2,12))

12

In [68]:
def reverse(num):
    q1=num%10
    r1=num//10
    q2=r1%10
    r2=r1//10
    q3=r2%10
    r3=r2//10
    q4=r3%10
    return q1,q2,q3,q4
print(reverse(1004))

(4, 0, 0, 1)