## String: String is sequence of characters treated as a single unit

In [70]:
s1=''
s2='Hello'
print(type(s1))

type(s2)

<class 'str'>

str

In [75]:
a='PYTHON'
print(len(a))
print(min(a))
print(a[2])
print(a[-2])
max(a)

6
H
T
O

'Y'

In [24]:
s = 'India'
for i in s:
    print(i, end='')
    
s[-2]

India

'i'

## IMMUTABLE strings

In [26]:
# str1 = 'I Love python'
# str1[0] = 'You'

# str1

### Note: Best way to change the string content

In [27]:
str1 = 'I Love python'
str2 = 'You'+str1[1:]

str2

'You Love python'

### Note: String with same content has same id

In [30]:
str1 = 'hi'
str2 = 'hi'

print(id(str1))
print(id(str2))

2710102832432
2710102832432

In [9]:
s1 = input('Enter S1 string ')
s2 =  input('Enter S2 string ')

for i in s1:
    if i in s2:
        print(i, end='')

Enter S1 string hi
Enter S2 string hwkk
h

In [23]:
S = 'ILOVEPYTHON'

for ch in range(0, len(S), 2):
    print(S[ch], end='')

IOEYHN

In [82]:
s='ILOVEPROGRAMMING'
for chare in range(0,len(s),2):
    print(s[chare], end=' ')

I O E R G A M N

In [1]:
str1='I Love Python'
str2='U'+str1[1:]
print(str2)

U Love Python

In [2]:
str1='Hello'
str2='Hello'
print(id(str1))
id(str2)

1935511771824

1935511771824

## String Slicing

In [31]:
s='IISc Bengaluru'
print(s[3:9])
print(s[:])
print(s[::-1])
print(s[-1:0:-1])
print(s[:-1])

s2=' Malleshwar'
s4 = s + s2
print(s4)
s3 = s*3
s3

c Beng
IISc Bengaluru
urulagneB cSII
urulagneB cSI
IISc Bengalur
IISc Bengaluru Malleshwar

'IISc BengaluruIISc BengaluruIISc Bengaluru'

## String "in" and "not in"

In [24]:
s4='Information technology Engineering'
print('Information ' in s4)

'Hello' not in s4

True

True

In [33]:
word1='Greatest'
word2='Great'
for letter in word1:
    if letter in word2:
        print(letter, end="")

Greatet

't'

In [44]:
s1='ABC'
s2='abc'
print(s2>s1)

s3=s2.upper()
print(s1>s3)

s4='AAB'
s5='AAA'
print(s4<s5)

print(s4>=s5)

True
False
False
True

## String .format() Method()
### Syntax: template.format(p0, p1,.......k0=v0, k1=v1)

In [36]:
'{} plus {} equals {}'.format(4, 5, 'nine')

'4 plus 5 equals nine'

In [38]:
'my name is {0} and I am a {1} programmer '.format('Kiran', 'Python')

'my name is Kiran and I am a Python programmer '

In [43]:
'{city} is Beautiful and {famous} is famous'.format(city='Amingad', famous='Karadantu')

'Amingad is Beautiful and Karadantu is famous'

In [48]:
print('{} plus {} equals {}'.format(2,5,'Seven'))
'My Name is {} and surname is {}'.format('Prakash','Bantanur')

2 plus 5 equals Seven

'My Name is Prakash and surname is Bantanur'

## The split() method
### split() method returns all the word in a string

In [55]:
prglngs='C C# Java Python'
prglngs.split()

['C', 'C#', 'Java', 'Python']

In [24]:
prgmlngs = 'C,C#,sharp,java,j2EE,python'
langs = prgmlngs.split(',')
print(langs)
print(type(langs))



for l in langs:
    print(l)
print(type(l))

['C', 'C#', 'sharp', 'java', 'j2EE', 'python']
<class 'list'>
C
C#
sharp
java
j2EE
python
<class 'str'>

### Note: split() the default delimiter is space

In [48]:
s='1Python'
print(s.isalnum())

s1 = 'Python'
print(s1.isalnum())

s2='Python Programming'
print(s2.isalnum())

s3='1Python'
print(s3.isalpha())

s4='1458'
print(s4.isdigit())

s5='hello'
print(s5.islower())

True
True
False
False
True
True

In [17]:
s1 = 'Python is a easiest language in programming language'
print(s1.find('lang'))
print(s1.find('langi'))
print(s1.rfind('lang'))
print(s1.count('o'))

20
-1
44
2

In [52]:
s4='Information technology Engineering'
print(s4.find('tech'))
print(s4.find('Java'))
print(s4.rfind('i'))
print(len(s4))
print(s4.count('o'))

test_str = "GeeksforGeeks"
count = 0
for i in test_str:
    if i == 's':
        count = count +1
print(count)

print(test_str.count('s'))

12
-1
31
34
4
2
2

In [65]:
s5='India is Great'
print(s5.capitalize())
print(s5.lower())
print(s5.upper())
print(s5.title())
print(s5.swapcase())
print(s5.replace('India','Karnataka'))
print(s5.capitalize())

India is great
india is great
INDIA IS GREAT
India Is Great
iNDIA IS gREAT
Karnataka is Great
India is great

## Stripping unwanted strips from string

In [19]:
str1=' \t\tIt\'s Cool!' #It removes white and Tab spaces
print(str1)
print(str1.lstrip())
print('---------------------')

str2='Welcome\n\n'
print(str2)
print(str2.rstrip())

print('----------------------')
str3='\n\nhello\n\n'
print(str3)
str4 = str3.rstrip()
print(str4.lstrip())

 		It's Cool!
It's Cool!
---------------------
Welcome


Welcome
----------------------


hello


hello

In [81]:
str6='Microsoft WindowsOS'
print(str6.center(30))
print(str6.rjust(30))
print(str6.ljust(30))

     Microsoft WindowsOS
           Microsoft WindowsOS
Microsoft WindowsOS

In [25]:
def counta(word):
    return word.count('a')
counta('helloa')

1

In [30]:
def numofoccu(word, letter):
    count= 0
    for i in word:
        if i == letter:
            count +=1
    return count
numofoccu('helloooooo', 'o')

6

In [32]:
def modify(word):
    return word.swapcase()
print('Swapped sentence:',modify('Henge Navvu'))

Swapped sentence: hENGE nAVVU

In [37]:
def findpos(word, pos):
    return word[pos]
findpos('word', 3)

'd'

In [42]:
def elim_letter(word, letter):
    for i in word:
        if i == letter:
            continue
        print(i, end='')
#     return i
elim_letter('hello python world', 'l')

heo python word

## Important

In [43]:
def vowelcount(word):
    word = word.lower()
    return {v:word.count(v) for v in 'aeiou'}
vowelcount('India is a Great country')

{'a': 3, 'e': 1, 'i': 3, 'o': 1, 'u': 1}

In [55]:
def vowelcapitalize(word):
    new=''
    for i in word:
        if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
            
            new=new+i.upper()
        else:
            new=new+i
    return new
vowelcapitalize('hi hello aeiou')

'hI hEllO AEIOU'

In [59]:
def removevowel(word):
    for i in word:
        if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
            continue
        print(i, end='')
removevowel('kjhdfkahkjfahskfha')

kjhdfkhkjfhskfh

In [61]:
def wordpalidrome(word1, word2):
    word1=word1.lower()
    word2=word2.lower()
    if word1 == word2[::-1]:
        return True
    else:
        return False
wordpalidrome('hi', 'IH')

True

In [64]:
def mirrortext(w1, w2):
    return w1+w2+w2[::-1]+w1[::-1]
mirrortext('h1', 'h2')

'h1h22h1h'

In [1]:
def countB(word):
    print(word)
    return word.count('b')
print("Number of 'b's are",countB('abbbabb'))

abbbabb
Number of 'b's are 5

In [17]:
def wordletter(word, letter):
    print(word)
    return word.count(letter)
    
print('Letter occures in a word',wordletter('ababba', 'b'))

ababba
Letter occures in a word 3

In [53]:
def wordlet(word, letter):
    print(word)
    return word.count(letter)

wordlet('adbjsdbskjd', 'k')

adbjsdbskjd

1

In [24]:
def modify(word):
    print(word)
    return word.swapcase()
print('Modified word is: ',modify('India'))

India
Modified word is:  iNDIA

In [29]:
def getChar(word, char):
    print(word)
    print('Character at position',char,'is ',end='')
    return word[char]
print(getChar('India',2))

India
Character at position 2 is d

In [61]:
def getChar(word, char):
    print('Character', char, 'in',word, 'is ', end='')
    return word[char]
print(getChar('India',2))

Character 2 in India is d

In [28]:
def getChar(word, pos):
    print(word)
    print('Character at position',pos,'is ',end='')
    counter=0
    for i in word:
        counter=counter+1
        if counter==pos:
            return i
print(getChar('Addicted to Python',10))

Addicted to Python
Character at position 10 is t

In [30]:
def eliminate(word, letter):
    print(word)
    print('After removing the letter',letter)
    return word.replace(letter,'')
print(eliminate('PYTHON PROGRAMMING', 'P'))

PYTHON PROGRAMMING
After removing the letter P
YTHON ROGRAMMING

In [11]:
def capVowel(word):
    print(word)
    word=word.lower()
    for i in word:
        return i.count(word) 
capVowel('Python')

Python

0

In [19]:
def capVowels(word):
    new=''
    print('String',word)
    print('After captitalize')
    print('output string: ',end='')
    for i in word:
        if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
            new=new+i.upper()
        else:
            new=new+i
    return new
print(capVowels('i love python'))

String i love python
After captitalize
output string: I lOvE pythOn

In [20]:
def replacevowel(word):
    new=''
    print(word)
    print('output string: ',end='')
    for i in word:
        if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
            new=new+i.replace(i,'')
        else:
            new=new+i
    return new
print(replacevowel('i love python'))

i love python
output string:  lv pythn

In [23]:
def isReverse(word1, word2):
    print(word1)
    print(word2)
    if (word1==word2[::-1]):
        return True
    else:
        return False
print(isReverse('Hello', 'Hello'))
print(isReverse('Hello', 'olleH'))

Hello
Hello
False
Hello
olleH
True

In [27]:
def isMirror(word1, word2):
    print(word1)
    print(word2)
    print('String: ',end='')
    return word1+' ' +word2+' '+word2[::-1]+' '+word1[::-1]
print(isMirror('Python', 'Strong'))

Python
Strong
String: Python Strong gnortS nohtyP

In [31]:
str1='Sum of {0:b} and {1:b} is {2:b}'.format(2,2,4)
print(str1)

Sum of 10 and 10 is 100

## Excersize

In [69]:
str1='ABBBCBB'
print(str1.count('BB', 4),end=' ')
# print(str1.count('BB',2),end='')

1

In [74]:
s1='Python is great'
s1= 'J'+s1[1:]
print(s1)

Jython is great

In [95]:
def startendvowel(word):
    return {v:word.count(v) for v in 'aeiou'}
startendvowel('hsjhdgajssdfghjaf')

{'a': 2, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

In [81]:
chr(65)

'A'

In [92]:
s1 = 'jhkdakdh'
if s1.startswith('j') or s1.startswith('k'):

SyntaxError: unexpected EOF while parsing (<ipython-input-92-f842a8760746>, line 2)

In [36]:
s='Programming'
for char in s:
    print(char, end=' ')

P r o g r a m m i n g

In [37]:
def countBC(word):
    print(word)
    count=0
    for bc in word:
        if (bc=='bc'):
            count+=1
    return count
print(countBC('abcaaabc'))

abcaaabc
0

In [45]:
def upperLower(word):
    count=0
    print(len(word))
    
    while count<len(word):
        print(word)
        count+=1
upperLower('well done')

9
well done
well done
well done
well done
well done
well done
well done
well done
well done

In [46]:
def reverse(word):
    print(word)
    s1=word
    s2=s1[::-1]
    print(s2)
reverse('Hello')

Hello
olleH

In [96]:
str1 = "Welcome to USA. usa awesome, isn't it?"
str1 = str1.lower()
str1.count('usa')

2

In [103]:
str1 = "PYnative29@#8496"
count=0
leng=0
for num in str1:
    if num.isdigit():
        count = count+int(num)
        leng+=1
print(count/leng)

6.333333333333333

In [112]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
str1.rfind('Emma')

43

In [119]:
str1 = 'Emma-is-a-data-scientist'
str1.split('-')

['Emma', 'is', 'a', 'data', 'scientist']

In [123]:
str1 = "/*Jon is @developer & musician"
# for i in str1:
#     if i.isalpha():
#         print(i, end='')

str1.isalpha()

False

In [146]:
str1 = 'ekjhaksjdhkasjho'

str1[-1].lower() in 'aeiou' and str1[0].lower() in 'aeiou'

True

In [151]:
str1 = 'Hello'

low = 0
high= 0 
for i in str1:
    i.isupper()

SyntaxError: unexpected EOF while parsing (<ipython-input-151-46dceb84c60c>, line 6)

In [155]:
str1 = 'I am 25 years and 10 months old'

res = ' '.join([v for v in str1 if v.isdigit()])
res

'2 5 1 0'

In [59]:
str1 = "emma25 is Data scientist and AI Expert30"
m = str1.split()
for i in m :
    for j in i:
        if(j.isalpha()):
            continue
        elif(j.isdigit()):
            print(i)
            break

emma25
Expert30

In [53]:
str1 = "emma25 is Data scientist and AI Expert30 22   43 4.1 5j 8 854654654"

str2=[i for i in str1.split() if i.isdigit()]
for i in str2:
    if int(i)>99999:
        print(i)

854654654

In [82]:
str1 = "emma25 is Data scientist and AI Expert30 22   43 4.1 5j 8 854654654"

str2=list(str1.split())

print(str1)
print(str2)


str3=[i for i in str2 if type(i)==float]
str3

emma25 is Data scientist and AI Expert30 22   43 4.1 5j 8 854654654
['emma25', 'is', 'Data', 'scientist', 'and', 'AI', 'Expert30', '22', '43', '4.1', '5j', '8', '854654654']

[]

In [71]:
str1 = "emma25 is Data scientist and AI Expert30 22   43 4.1 5j 8 854654654"

emp = []

for i in str1.split():
    try:
        emp.append(float(i))
    except ValueError:
        pass
for j in emp:
    print(j)
    print(type(j))

22.0
<class 'float'>
43.0
<class 'float'>
4.1
<class 'float'>
8.0
<class 'float'>
854654654.0
<class 'float'>

In [107]:
str1 = "emma25 is Data scientist and AI Expert30 22   43 4.1 5j 8 854654654 5.66 5.2"

str3=[i for i in str1.split() if i.isnumeric()]

for i in str3:
    print(i)
    i=int(i)
#     print(type(i))
    
import re

x=re.findall("\d+\.\d+",str1)
new_lst = [float(i) for i in x]
for j in new_lst:
    print(j)
#     print(type(j))

22
43
8
854654654
4.1
5.66
5.2

In [108]:
import re

str1 = "emma25 is Data scientist and AI Expert30 22   43 4.1 5j 8 854654654 5.66 5.2"

str3=[i for i in str1.split() if i.isnumeric() else re.findall("\d+\.\d+",str1)]
str3

# for i in str3:
#     print(i)
#     i=int(i)
# #     print(type(i))
    


# x=
# new_lst = [float(i) for i in x]
# for j in new_lst:
#     print(j)

SyntaxError: invalid syntax (<ipython-input-108-6e1abad3e661>, line 5)

In [2]:
X = [1.5, 2.3, 4.4, 5.4, 'n', 1.5, 5.1, 'a', 1]     # Original list

# Extract non-strings from X to new list
X_non_str = [el for el in X if not isinstance(el, str)]  # When using only 'if', put 'for' in the beginning
print(X_non_str)

# Change all strings in X to 'b', preserve everything else as is
X_str_changed = ['b' if isinstance(el, str) else el for el in X]  # When using 'if' and 'else', put 'for' in the end
X_str_changed

[1.5, 2.3, 4.4, 5.4, 1.5, 5.1, 1]

[1.5, 2.3, 4.4, 5.4, 'b', 1.5, 5.1, 'b', 1]

In [3]:
s='my name is Prakash'
s = s.split()[::-1]
for i in s:
    print(i,end=' ')

Prakash is name my