## List: Need group of elements as a single entity

### Creating a list using list() constructor

In [9]:
L1 = list()  # Empty list
print(L1)

L2 = list([1, 2])
print(L2)

L3 = list(['Apple', 'Mango', 'Pine apple'])
print(L3)

L4 = list(range(6))
print(L4)

L5 = list('xyz')
print(L5)

[]
[1, 2]
['Apple', 'Mango', 'Pine apple']
[0, 1, 2, 3, 4, 5]
['x', 'y', 'z']

### Creating a list without using list() constructor

In [11]:
l6 = [2, 5, 8]
print(l6)

l7 = ['Apple', 'Mango', 'Pine apple']
print(l7)

[2, 5, 8]
['Apple', 'Mango', 'Pine apple']

### Hetrogeneous

In [13]:
l8 = [8, 'hwllo', 2.8]
print(l8)

[8, 'hwllo', 2.8]

### Accessing list elements

In [15]:
l9 = [8, 'hwllo', 2.8, 13, 98, 'hi', 5.3, 7]
print(l9)

print(l9[3])
print(l9[-2])

[8, 'hwllo', 2.8, 13, 98, 'hi', 5.3, 7]
13
5.3

### List slicing with steps

In [20]:
L1 = [10, 4, 65, 86, 8, 64, 33, 9]
print(L1[2:4])
print(L1[2:-2])
print(L1[:2])
print(L1[::-1]) # reverse the string

print(L1[1:8:2])
print(L1[-1:0:-1]) # reverse the string

[65, 86]
[65, 86, 8, 64]
[10, 4]
[9, 33, 64, 8, 86, 65, 4, 10]
[4, 86, 64, 9]
[9, 33, 64, 8, 86, 65, 4]

### Inbuilt function of list

In [22]:
list1 = ['Red', 'white', 'Green']
print(len(list1))
print(max(list1))

3
white

In [28]:
list2 = [10, 4, 65, 86, 8, 64, 33, 9]
print(max(list2))
print(min(list2))
print(len(list2))
print(sum(list2))


import random
random.shuffle(list2)
list2

86
4
8
279

[64, 9, 8, 86, 10, 4, 33, 65]

### List operators + and *

In [29]:
a = [1, 2, 4]
b = [5, 6, 7]

a+b

[1, 2, 4, 5, 6, 7]

In [30]:
a = [3, 5]
b = a*2

b

[3, 5, 3, 5]

### List is and in operator

In [33]:
a = [6, 8]

8 in a

True

In [34]:
a = 'python'
b = 'python'

a is b

True

### del operator

In [37]:
list2 = [10, 86, 96, 5, 96, 54, 7, 4]

del list2[2]
list2

[10, 86, 5, 96, 54, 7, 4]

In [38]:
del list2[2:4]
list2

[10, 86, 54, 7, 4]

In [39]:
del list2[-1]
list2

[10, 86, 54, 7]

In [40]:
del list2[:]
list2

[]

## List comprehension: Create a new list from existing sequence

In [41]:
list1 = [10, 30, 76, 5, 75]

for i in range(0, len(list1)):
    list1[i] = list1[i]+5
    
list1

[15, 35, 81, 10, 80]

In [43]:
list1 = [10, 30, 76, 5, 75]

list2 = [i+5 for i in list1]
list2

[15, 35, 81, 10, 80]

In [45]:
l3 = [1, 2, 3, 4, 5]

l4 = [i for i in l3 if i%2==0]
l4

[2, 4]

In [47]:
sqr = [x**2 for x in range(11)]
print(sqr)

cube = [y**3 for y in range(11)]
print(cube)

eveninA = [z for z in sqr if z%2==0]
print(eveninA)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 4, 16, 36, 64, 100]

In [49]:
list1 = [10.2, 6, 8.1, 8, 20]

fahrenheitlist = [((9/5)*x+32) for x in list1]
fahrenheitlist

[50.36, 42.8, 46.58, 46.4, 68.0]

In [2]:
list2 = [10, 'i', 2, 'python', 7, 3.5]

onlydigit = [x for x in list2 if type(x) == float]
onlydigit

[3.5]

## List Method: append()

In [57]:
list1=[10, 20, 50]
list1.append(50)
print(list1)

list2=['i', 'a', 'u', 'o']
list2.append('e')
print(list2)

[10, 20, 50, 50]
['i', 'a', 'u', 'o', 'e']

### count()

In [203]:
list4=[3, 'A', 'AA', 7, 8.7]
list4.count('A')

1

### clear()

In [202]:
list3=[7, 8, 5, 3]
list3.clear()
print(list3)

[]

### copy()

In [66]:
list1=['Red', 'Green', 9, 9.1]
list2=list1.copy()
list2

['Red', 'Green', 9, 9.1]

### extend()

In [90]:
list2=[1,2,3]
list1=[4,5,6]
list1.extend(list2)
print(list1)


list4=[3, 'Red']
list4.extend('Green')
list4

[4, 5, 6, 1, 2, 3]

[3, 'Red', 'G', 'r', 'e', 'e', 'n']

### index()

In [74]:
list1=['Red', 'Green', 9, 9.1]
list1.index(9)

2

### insert()

In [91]:
list1=['Red', 'Green', 9, 9.1]
list1.insert(4,50)   # adding element 50 at 4th position 
print(list1)

list1.insert(5, 'Green')
list1

['Red', 'Green', 9, 9.1, 50]

['Red', 'Green', 9, 9.1, 50, 'Green']

### pop() and pop('index')

In [82]:
list1=['Red', 'Green', 9, 9.1]
print('List element before pop:', list1)

list1.pop(3)
print('List element after pop:', list1)

list1.pop()   # without index removes last element
print('List element after pop without index:', list1)

List element before pop: ['Red', 'Green', 9, 9.1]
List element after pop: ['Red', 'Green', 9]
List element after pop without index: ['Red', 'Green']

### remove()

In [83]:
list1=['Red', 'Green', 9, 9.1, 'India', 8.2]
list1.remove('Green')
list1

['Red', 9, 9.1, 'India', 8.2]

### reverse()

In [84]:
list1=['Red', 'Green', 9, 9.1, 'India', 8.2]
list1.reverse()
list1

[8.2, 'India', 9.1, 9, 'Green', 'Red']

### sort()

In [89]:
list1=['Red', 'Green', 9, 9.1, 'India', 8.2, 8, 9, 99]
list1=[x for x in list1 if type(x)==float]
list1.sort()
list1

[8.2, 9.1]

## List and Strings
### Converting the strings to list

In [95]:
p = 'python'
print(p)
print(type(p))

print('-----------------')
p = list(p)
print(p)
print(type(p))

python
<class 'str'>
-----------------
['p', 'y', 't', 'h', 'o', 'n']
<class 'list'>

## Splitting a strings in list

In [99]:
A = 'Wow!! Python programming'
B=A.split()
print(B)

print('---------OR----------')
C = 'Wow!! Python programming'.split()
C

['Wow!!', 'Python', 'programming']
---------OR----------

['Wow!!', 'Python', 'programming']

In [103]:
A = 'Wow!-Python-programming-is-crazy!'.split('-')
A

['Wow!', 'Python', 'programming', 'is', 'crazy!']

## Passing a list to a Function

In [110]:
def print_list(lst):
    for x in lst:
        print(x, end=' ')

lst=[1, 2, 3]
print_list(lst) ## passing list as parameter

1 2 3

In [115]:
lst = [10, 20, 30, 40, 3]


def avg_fun(lst):
    count=0
    for x in lst:
        count+=x
    avg=count/len(lst)
    print(avg)
    
avg_fun(lst)

20.6

In [118]:
def split_list(lst, n):
    print(lst[:n])
    print(lst[n:])

lst=[2, 6, 7, 54, 5, 43, 7]
split_list(lst, 4)

[2, 6, 7, 54]
[5, 43, 7]

## Returning list from a function

In [121]:
def reverse_lst(lst):
    print(lst)
    lst.reverse()
    return lst

lst=[2, 6, 7, 54, 5, 43, 7]
print('Reversed list: ', reverse_lst(lst))

[2, 6, 7, 54, 5, 43, 7]
Reversed list:  [7, 43, 5, 54, 7, 6, 2]

In [122]:
def mul_digit(n):
    lst=[]
    for i in range(1,6):
        lst.append(i*n)
    return lst
mul_digit(3)

[3, 6, 9, 12, 15]

In [123]:
def create_lst(a, b):
    lst=[]
    for i in range(a,b):
        if i%2==0:
            lst.append(i)
    return lst

print('Even number list:',create_lst(2, 21))

Even number list: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [125]:
def create_list(a, b):
    lst = [x for x in range(a, b) if x%2==0]
    return lst
create_list(2,12)

[2, 4, 6, 8, 10]

In [135]:
def is_peli_or_not(lst):
    rev = lst[::-1]
    if lst == rev:
        return True
    return False
is_peli_or_not([1,2,1])

True

In [139]:
def check_dupli(lst):
    new_lst=[]
    for x in lst:
        if x not in new_lst:
            new_lst.append(x)
        else:
            return True
    return False
        
check_dupli([1,2,3])

False

In [148]:
lst =[]

for i in range(3):
    lst1 = int(input('Enter the input number:'))
    lst.append(lst1)

print('Max number is',max(lst))

Enter the input number:1
Enter the input number:2
Enter the input number:3
Max number is 3

In [155]:
def assign_grade(lst):
    for x in lst:
        if x>=90:
            print('Student',lst.index(x)+1,'Marks',x,'with Grade A')
        elif x>=80 and x<90:
            print('Student',lst.index(x)+1,'Marks',x,'with Grade B')
        elif x>=65 and x<80:
            print('Student',lst.index(x)+1,'Marks',x,'with Grade C')
        elif x>=40 and x<65:
            print('Student',lst.index(x)+1,'Marks',x,'with Grade D')
        else:
            print('Student',lst.index(x)+1,'Marks',x,'with Grade F')

lst=[21,38,86,65,54]            
assign_grade(lst)

Student 1 Marks 21 with Grade F
Student 2 Marks 38 with Grade F
Student 3 Marks 86 with Grade B
Student 4 Marks 65 with Grade C
Student 5 Marks 54 with Grade D

In [170]:
def dupli(lst):
    new_lst=[]
    
    for i in lst:
        count = 0
        if i not in new_lst:
            new_lst.append(i)
        else:
            count+=1
            print('Duplicated element is:',i)
            return True
        
    return False
# print(count)

dupli([1,2,54,5,5,5])

0
Duplicated element is: 5

True

In [175]:
def reverse_lst(lst):
    print('List:',lst)
    lst.reverse()
    print('Reversed list:',lst)

reverse_lst([1,2,3])

List: [1, 2, 3]
Reversed list: [3, 2, 1]

In [178]:
def odd_descending(a, b):
    lst = [x for x in range(a,b+1) if x%2!=0]
    lst.reverse()
    print(lst)
    
odd_descending(10,20)

[19, 17, 15, 13, 11]

## Exercise

In [181]:
L1 = [1, 2, 3, 4, 5]
L1[0:-1]

[1, 2, 3, 4]

In [185]:
L2 = [[n, n+1, n+2] for n in range(3)]
L2

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [190]:
str = 'Manamohan Singh'

k = [i for i in str.lower() if i not in 'aeiou']
print(k, end='')

['m', 'n', 'm', 'h', 'n', ' ', 's', 'n', 'g', 'h']

In [191]:
def fun1(L1):
    L1[0]='A'
L1=[1,2,3]
fun1(L1)
print(L1)

['A', 2, 3]

In [192]:
L1 = [1, 2]
L2 = L1
L1[0]=40
print(L2)

[40, 2]

In [194]:
# L1 = [1, 2,3,4,5]
# L2=[]+L1
# L1[1]=6
# print(L1*L2)
# print(L2)

In [200]:
def rep_n_times(lst, n):
    for i in lst:
        print(i)
        
rep_n_times([1,2],3)

1
2

In [215]:
lst = [1,2, 5, 6, 8, 4, 3,3,4,4,6, 87,8,9,6]
new_lst=[]
def occu(lst):
    for i in lst:
        if i not in new_lst:
            new_lst.append(i)
            print(i, 'occurs',lst.count(i), 'times')
        else:
            continue
occu(lst)

1 occurs 1 times
2 occurs 1 times
5 occurs 1 times
6 occurs 3 times
8 occurs 2 times
4 occurs 3 times
3 occurs 2 times
87 occurs 1 times
9 occurs 1 times

In [221]:
def remove_neg(lst):
    lst = [i for i in lst if i>=0]
    print('List after removing the negative number:',lst)
    
lst = [1,2, 5, 6, 0,8, 4, 3,-3,4,4,6, 87,8,9,6]
remove_neg(lst)

List after removing the negative number: [1, 2, 5, 6, 0, 8, 4, 3, 4, 4, 6, 87, 8, 9, 6]

In [240]:
def create_dupli(lst):
    new_lst = []
    for x in lst:
#         print(x, x, end=' ')
        new_lst.append(x)
        new_lst.append(x)
    return new_lst
lst = [1,2, 5, 6, 6]
create_dupli(lst)

[1, 1, 2, 2, 5, 5, 6, 6, 6, 6]

In [242]:
def remove_first_last(lst):
    lst.pop()
    lst.pop(0)
    return lst
    
lst = [1,2, 5, 6, 6]
remove_first_last(lst)

[2, 5, 6]

In [1]:
def even(lst):
    lst = [x for x in lst if x%2==0]
    return lst

lst = [1,2, 5, 6, 0,8, 4, 3,-3,4,4,6, 87,8,9,6]
even(lst)

[2, 6, 0, 8, 4, 4, 4, 6, 8, 6]

In [2]:
l=[1,2,3,4,5]
#1,4,9

def sqr(l):
    l2 = [i**2 for i in l]
    print(l2)
#     for i in l:
sqr(l)

[1, 4, 9, 16, 25]