# Numbers

In [4]:
print(4+5)
print(5-4)
print(5*4)
print(5/4)

9
1
20
1.25

# Variables

In [2]:
name = 'Akash'
print('my name is ' + name)

my name is Akash

In [13]:

# age = input('Enter the age:')
# age = 22
age = str(22)
print('my age is ' + age)

my age is 22

In [14]:
age = 22
print('my age is ' + str(age))

my age is 22

# Lists

In [16]:
student1 = 'Akash'
student2 = 'Adesh'
student3 = 'Arun'
student4 = 'Anup'

In [17]:
print(student1)

Akash

In [19]:
students = ['Akash', 'Adesh', 'Arun', 'Anup']
marks = [20, 51, 62, 12]

In [21]:
print(students[2])

Arun

In [25]:
print(students[1]+' & '+students[3])

Adesh & Anup

In [26]:
print(len(students))

4

In [27]:
students.append('Akshay')

In [28]:
print(students)

['Akash', 'Adesh', 'Arun', 'Anup', 'Akshay']

In [29]:
print(len(students))

5

In [30]:
print(len(marks))

4

In [31]:
print((marks[0]+marks[1]+marks[2]+marks[3])/len(marks))

36.25

In [38]:
list1=[i**2 for i in range(1, 5)]
print(list1)

list2=[i**2 for i in range(1, 5) if i%2==0]
print(list2)

[1, 4, 9, 16]
[4, 16]

## pop function

In [55]:
names_list = ['Akash', 'Anup', 'Ajay', 'Bharat', 'Bhavya', 'Bhavani', 'Shivani', 'Ramesh', 'Sumesh']
p = names_list.pop()
print(p)
print(names_list)


while len(new_list[i])%2==0:
    print(new_list[i])
    

#     print(new_list[i])

# for i in range(len(names_list)):
#     new_list = [names for names in names_list ]
#     print(new_list)

Sumesh
['Akash', 'Anup', 'Ajay', 'Bharat', 'Bhavya', 'Bhavani', 'Shivani', 'Ramesh']

# string to int

In [57]:
# string to int

a = '4'
b = '5'

print(a+b)  #  See the difference
print(int(a)+int(b))

45
9

# string to floating number

In [59]:
# string to float

a = '4.6'
b = '5.1'

print(a+b)
print(float(a)+float(b))

4.65.1
9.7

# Int to string

In [60]:
# int to string

age =30
print('Iam ' + str(age))

Iam 30

# list to string

In [13]:
# list to string

names = ['Akash', 'Anup', 'Ajay', 'Bharat', 'Bhavya', 'Bhavani', 'Shivani', 'Ramesh']

l_to_s = ' '.join(names)
l_to_s2 = '='.join(names)

print(l_to_s)
print(l_to_s2)
print('Team has total ' + str(len(names)) + ' members, they are ' + str(names))

Akash Anup Ajay Bharat Bhavya Bhavani Shivani Ramesh
Akash=Anup=Ajay=Bharat=Bhavya=Bhavani=Shivani=Ramesh
Team has total 8 members, they are ['Akash', 'Anup', 'Ajay', 'Bharat', 'Bhavya', 'Bhavani', 'Shivani', 'Ramesh']

# string to list

In [8]:
# string to list

strng = 'I am proud to be a Kannadiga'
newstr = 'Akash=Anup=Ajay=Bharat=Bhavya=Bhavani=Shivani=Ramesh'

s_to_l = strng.split(' ')
s_to_l2 = newstr.split('=')

print(s_to_l)
print(s_to_l2)

print(len(s_to_l))

['I', 'am', 'proud', 'to', 'be', 'a', 'Kannadiga']
['Akash', 'Anup', 'Ajay', 'Bharat', 'Bhavya', 'Bhavani', 'Shivani', 'Ramesh']
7

In [21]:
i = 'I am from Amingad'
lst = i.split(' ')
print(lst)
print(len(i.split(' ')))
print(i)
print('Number of words on above sentence are: '+str(len(i.split(' '))))

['I', 'am', 'from', 'Amingad']
4
I am from Amingad
Number of words on above sentence are: 4

# Exercise

## 1

In [52]:
emails = 'akash@gmail.com'

split = emails.split('@')
print(split)
l=split.pop()
print(l)
print(split)

# a = ['Akash', 'Anup']
# l = a.pop()
# print(l)
# print(a)

print('================OR===================')

eml = 'anup@yahoo.com'
print(eml.split('@')[0])

['akash', 'gmail.com']
gmail.com
['akash']
================OR===================
anup

In [27]:
emails = ['akash@gmail.com', 'anup@yahoo.com']
lst = ','.join(emails)
print(lst.split('@'))

['akash', 'gmail.com,anup', 'yahoo.com']

## 2

In [53]:
emls = 'infosys@psb.com'
l = emls.split('@')[1]
print(l.split('.')[0])

print('==================OR=================')

print(emls.split('@')[1].split('.')[0])

psb
==================OR=================
psb

## 3

In [59]:
email1 = 'akash@gmail.com'
email2 = 'anup@yahoo.com'
email3 = 'seema@ms.com'

clients = []

clients.append(email1)
clients.append(email2)
clients.append(email3)

print(clients)
print('Number of clients: '+str(len(clients)))

['akash@gmail.com', 'anup@yahoo.com', 'seema@ms.com']
Number of clients: 3

## 4

In [60]:
newmail = ['Bhavya', 'gmail.com']
print('@'.join(newmail))

Bhavya@gmail.com